[2015-02-10 21:04] #1093 closed

[2015-02-11 14:00] #1054 closed

[2015-02-11 16:14] OpenUAS opened #1098 "Datalink ID start value somewhat confusing"
The current message of a new link detected starts with index 0. From programmers perspective quite OK. Various ground station operators however where somewhat confused, to put it mildly.
The 0 sounded to them "Oh, no, I lost my connection..."

1) Rather start at 1. aka the first link....

2) And adding in ID in front of the value makes it much clearer specifically when speech is enabled.
and the "

[2015-02-12 05:56] alonsoac opened #1100 "takeoff/speed detected with a/c on ground and thottle killed"
There are some problems with takeoff detection in fixedwing/main_ap.c:665
- it is not clear what purpose this serves
- it is not possible to deactivate this detection or redefine the speed at which takeoff is detected
- takeoff is detected even if throttle is at 0%
- incorrect takeoff detection can cause other issues for conditions that take place when autopilot_flight_time>0. For example, going i

[2015-02-12 06:13] alonsoac opened #1101 "RC_LOST_MODE should not be set if kill_throttle==1"
in fixedwing/main_ap.c:392

if throttle is killed there is no benefit to setting the RC_LOST_MODE. It would be better to simply go to AUTO2 ?

[2015-02-12 06:32] alonsoac commented on #1100
There is a very dangerous situation when:
-a/c is on the ground or bench
-flight plan is on a block that keeps the throttle at 0% but does not set kill_throttle to 1. This would appear to be safe.
[code]
-a/c is too far from home (really or because of bad GPS position)
-bad GPS position is detected as speed and takeoff is detected, launch is to to TRUE
-in fixedwing/main_ap.c:388 mode is changed t

[2015-02-12 10:40] flixr commented on #1101
Why not? By default RC_LOST_MODE is HOME mode

Don't think so, you will have no idea what state and block of the flightplan you are currently in or what the next waypoint might happen to be...

[2015-02-13 04:11] alonsoac commented on #1101
Not sure if I am missing somthing byt if the throttle is killed it doesn't matter what mode it is in, it will just fall to the ground?

The way I use paparazzi I first set a block of the flight plan which I am confortable with while the a/c is controlled in MANUAL or AUTO1. For example the StandBy block.  This way I know that if for any reason the pilot gets in trouble in manual he can just switch

[2015-02-13 17:25] flixr commented on #1101
Sorry, I don't understand what you are getting at...
If throttle is killed, it will - well - kill the throttle. If you have an airplane and get into RC_LOST_MODE (which defaults to HOME), it will still try to fly towards the home waypoint, just without throttle...

[2015-02-13 22:09] podhrmic opened #1104 "Refactor (and remove obsolete code) fixedwing firmware code"
Splitted items from wishlist #620 (as recommended by @OpenUAS)

[2015-02-13 22:09] podhrmic opened #1105 "ChibiOS integration (RT Paparazzi)"
offering new possibilities with failsafe tasks, data logging and autopilot

Subtasks:
- [x] make new RT branch from current master (rt_chibios)
- [x] integrate chibios HAL
- [ ] split main into proper RT-enabled tasks
- [ ] ABI implementation for ChibiOS (maybe using message queues?)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/856

[2015-02-13 22:11] podhrmic opened #1106 "MAVLINK wrapper for IVY"
(so Paparazzi can talk to QGroundControl http://qgroundcontrol.org/)
I know the wrapper already exists, but I am unsure about how well it works with current master.
Splitted items from wishlist #620 (as recommended by @OpenUAS)
(For Paparazzi 6.0)

[2015-02-13 22:57] flixr commented on #1104
can you be a bit more specific here? Otherwise it is not really helpful...

[2015-02-13 23:00] flixr commented on #1105
Are more specific things that you can list here?
Personally I don't see the advantage of having this issue as long as we still have #560 open....

[2015-02-13 23:03] flixr commented on #1106
Sounds like a duplicate of #13 (and #119), so I think we can close this one...
Or were you thinking of something else?

[2015-02-13 23:04] podhrmic commented on #1106
True, sorry haven't seen the older issues.

[2015-02-13 23:04] #1106 closed

[2015-02-13 23:05] podhrmic commented on #1105
Again, my bad - haven't noticed the original issue. Will work with #560 then.

[2015-02-13 23:26] flixr commented on #1105
Ah, sorry... that is the old pull request.
We can use this issue to track progress of a proper chibios integration.
Please edit the detailed issue description and add a list with subtasks that we can then tick off...

[2015-02-14 12:45] dewagter opened #1108 "actuator-index <-> hardware number defines not usable in airframe file"
lisa-s has for instance
```#define PWM_SERVO_1 4``` with servo 1 being the number printed on the board.

this define can NOT be used in the airframe.xml

```<servo name="MOTOR" no="PWM_SERVO_1" min="1100"```

yields:

[code]

[2015-02-14 16:55] flixr commented on #1108
Currently the servo `no` has to be an int so the gen_airframe can determine the highest number for the generated SERVOS_driver_NB defines (e.g. `SERVOS_DUALPWM_NB`).

Looking at it, it actually seems like most of the drivers currently don't even use the SERVO_driver_NB defines, but rather ACTUATORS_x_NB....

[2015-02-15 21:26] #969 closed

[2015-02-17 09:16] OpenUAS commented on #811
@tjsch, thanks for describing the issue in more detail. BTW reguar usage questions are better asked on the [http://wiki.paparazziuav.org/wiki/Contact#Mailing_List mailing list], you have more chance of a response. After all this is just an issue tracker ;) no not forum

[2015-02-18 13:43] flixr opened #1113 "update geomag model to latest WMM2015"
Update the World Magnetic Model from 2010 to 2015 which is now available: http://www.ngdc.noaa.gov/geomag/WMM/

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8681310-update-geomag-model-to-latest-wmm2015?utm_campaign=plugin&utm_content=tracker%2F10895&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https

[2015-02-20 19:54] #743 closed

[2015-02-20 19:59] flixr commented on #743
Ups, closed because I wrote `might also fix #743` in the commit...
@karlito139 @OpenUAS would be great if you could test this with the fixes merged in master (with #1110) again...
Plz reopen if still an issue...

[2015-02-20 20:16] flixr commented on #1101
@alonsoac could you please clarify?

[2015-02-25 03:45] alonsoac commented on #1101
I was actually thinking about an a/c which is on the ground with throttle killed and RC is lost.  But yes it could also happen in the air and then it is useful to go to home mode.

[2015-02-25 03:45] #1101 closed

[2015-02-28 03:05] Maydog opened #1121 "installation issue"
during install:   The following packages have unmet dependencies:
 libcheese-gtk23 : Depends: libclutter-gtk-1.0-0 (>= 0.91.8) but it is not going to be installed
                   Depends: libcogl15 (>= 1.15.8) but it is not going to be installed
 libcheese7 : Depends: libclutter-gst-2.0-0 (>= 0.10.0) but it is not going to be installed
              Depends: gstreamer1.0-clutter but it is not g

[2015-02-28 09:18] flixr commented on #1121
Please use the mailing list and/or gitter for questions like this. And then also include the full output, system information, etc.

[2015-02-28 09:18] #1121 closed

[2015-03-01 22:40] fvantienen commented on #1009
Since I'm not able to reproduce this anymore and I think some of the problems were caused by #1117 I think we should close this.

[2015-03-01 22:41] #1009 closed

[2015-03-02 12:01] #1064 closed

[2015-03-02 12:08] flixr commented on #952
IMHO this is issue is useless without a list of files which still have french comments...
@OpenUAS, I propose to close this issue due to feedback timeout soon if no one can provide any actual cases...

[2015-03-02 12:13] flixr commented on #882
I don't see any reason to change it, what would be the benefit?

[2015-03-02 12:34] flixr commented on #883
Goes together with #896

[2015-03-02 12:38] flixr commented on #905
Can we plz combine this with #896 ?

[2015-03-02 12:48] flixr commented on #656
One important thing to also consider is that the conf directory is in PAPARAZZI_HOME, while the sw/airborne part is in PAPARAZZI_SRC. So when you have an installed version of paparazzi, the user can modify files in PAPARAZZI_HOME, but not in PAPARAZZI_SRC...

[2015-03-02 15:20] #798 closed

[2015-03-02 21:28] #1078 closed

[2015-03-03 08:32] OpenUAS commented on #1078
Super, a fix will leave a lot of beginning PPRZ users a lot less confused.

[2015-03-03 08:42] OpenUAS commented on #1113
I did not dare to ask ;) but yes, please very welcomed!

[2015-03-03 09:10] OpenUAS commented on #1100
@alonsoac love to help out with the issue but fully understanding it was not really easy...

Things like "takeoff is detected with 0% throttel" Why would this not be valid, I launch motorized gliders often on a hillside with no throttle. only below a certain airspeed or height the motor kicks in and the flightplan makes that it goes up +100m. It then glides an repeates, until battery is below a le

[2015-03-03 10:01] OpenUAS commented on #895
It is not about the Gtk-CRITICAL tracking down, I realize it is to much for an autopilot team to fix GTK issues,, the issue is more about the message appearing in the **PaparazziCenter**. So filtering on this and discarding the text would be an option IMHO

[2015-03-03 10:10] flixr commented on #895
As Gautier said, simply don't start paparazzi center from the terminal, but from an icon or via alt-f2.
You can't suppress the output on the terminal unless you redirect all of stderr to /dev/null, which is definitely not what we want...

[2015-03-03 10:17] flixr commented on #48
Closing this one, as the nav routines as modules are done.
Flight plans and nav functions still need more love, but as that is basically true for most of the codebase (there is always something to improve), there is no real benefit in keeping this rather generic one open.

[2015-03-03 10:17] #48 closed

[2015-03-03 16:59] gautierhattenberger commented on #1084
I can't reproduce the bug (using an ardrone2). Do you have a reproducible sequence to make this fail ?

[2015-03-03 19:26] alonsoac commented on #1078
Thanks

[2015-03-05 13:41] #914 closed

[2015-03-05 14:05] #885 closed

[2015-03-09 03:51] alonsoac commented on #1100
I think takeoff detection should be activated when needed by people who know what they are doing and the risks involved with automatic detection.
I don't have a problem with this because I know what I am doing but I think this might be an issue for new users.

[2015-03-09 17:11] flixr commented on #1098
@OpenUAS if you are happy with the solution of @gautierhattenberger (added to master with 4e378b3), we can backport it to v5.4 and then close this issue...

[2015-03-09 17:12] flixr commented on #1046
@EwoudSmeur @OpenUAS if you are happy with the solution of #1129 we can backport it to v5.4 and close this issue...

[2015-03-09 22:56] saaib commented on #1100
I can see this feature disabled by default and provide an airframe
property to enable it, so users enabling it are expected to know what to
expect.

On 03/08/2015 08:51 PM, alonsoac wrote:

--
-Urivan Flores-Saaib

[2015-03-10 14:50] gautierhattenberger commented on #1100
I agree the takeoff detection could be made more robust (especially to reject false detection), but I don't think it should be disabled.
Several control or safety systems have different behaviors when on ground and in flight (trigger HOME, GPS_LOST, reset control loops,...) and if the `launch` variable or any `in_flight` detection is not automatic, people will forget it someday (whatever their exp

[2015-03-12 14:08] flixr opened #1133 "http lib fails with ocamlnet 4.0.2"
[code]

Seems the ocamlnet guys renamed the Http_client module to Nethttp_client in 4.0.2:
http://projects.camlcity.org/projects/dl/ocamlnet-4.0.2/ChangeLog

I'm not sure how to try to open Nethttp_client and fall back to Http_client if it is not found...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9479987-http-lib-fails-with-oca

[2015-03-12 15:12] gautierhattenberger commented on #1105
The current chibios arch layer seems to only use synchronous and blocking calls on mcu_periph (uart, i2c, spi), which will only work if the autopilot is correctly separated into tasks. This will probably not be the case before a long time and it makes this branch not really usable at the moment for a complete autopilot.
Is their any objection to create one task per mcu periph (uart1, uart2, i2c1,

[2015-03-12 16:26] flixr commented on #1105
As long as you can safely "write/read" data from the peripherals from other threads (i.e. the main thread running all the autopilot code for a start).

[2015-03-12 16:30] flixr commented on #974
With #1134 you can now easily test compile your own custom conf without changing the conf/conf.xml symlink:
[code]

[2015-03-12 16:31] podhrmic commented on #1105
We already have a code with separated autopilot tasks and we are using it for autonomous flights. In this branch I would like to merge that code into newest master. Right now I am polishing the arch drivers, which takes some time. Imho creating threads for mcu periphs and one for rest of the autopilot negates any benefits RT-OS has.

The case when more than one task has to access the same peripher

[2015-03-12 16:44] gautierhattenberger commented on #1105
This is my point, it only works if the rest of the autopilot is using threads, which is not the case yet. So not really usable at the moment. The overhead of having one thread per periph is probably not that big, and it allows you to use the autopilot in it's current state but also with an RTOS. We will just wait for another thread to finish instead of waiting for the return function of a submit f

[2015-03-12 16:51] podhrmic commented on #1105
true, but I dont see any benefit of using RTOS like that. Or why would you use it in such way?

[2015-03-12 16:56] podhrmic commented on #1105
@gautierhattenberger just noticed your message in gitter. The test work with "regular" ChibiOS arch, I never tried Apogee board.

[2015-03-12 17:00] flixr commented on #1105
@podhrmic because then we could start putting things into separate task step by step...
Start with one that runs it all, then put some failsafe checks in a separate one, then sensor reading, etc...

[2015-03-12 17:01] gautierhattenberger commented on #1105
I want to get rid of the chibios-libopencm3 integration and use a plain chibios integration because it makes things easier.
The purpose of chibios-libopencm3 is to have logging on SD card on apogee. So we can help but it as to work just like what we add before at a first step, which is one thread for logging, one thread for autopilot.
It will take a long time before we can do that with the current

[2015-03-12 17:30] flixr commented on #974
So basically what we need to do is create confs for the airframe files that we want tested (i.e. specify what settings, telemetry, flightplan, radio, ... should go with the airframe file, so that we have something that can be built)
Creating a job for that is then easy...

[2015-03-12 18:48] podhrmic commented on #1105
OK, got it.
SPI is already thread safe, see: https://github.com/paparazzi/paparazzi/blob/rt_chibios/sw/airborne/arch/chibios/mcu_periph/spi_arch.c#L249

I2C is also already thread safe, see: https://github.com/paparazzi/paparazzi/blob/rt_chibios/sw/airborne/arch/chibios/mcu_periph/i2c_arch.c#L119

Serial port:
writing is thread safe, since it just puts a byte in the queue: https://github.com/papar

[2015-03-12 23:17] flixr commented on #1105
writing is thread safe, since it just puts a byte in the queue: https://github.com/paparazzi/paparazzi/blob/rt_chibios/sw/airborne/arch/chibios/mcu_periph/uart_arch.c#L149

This is exactly where I mean we have to be careful... while the single function call might be thread safe, we have to keep in mind that when we have use functions that use this internally (e.g. pprz_send_msg_X) it is not "threa

[2015-03-16 13:26] flixr opened #1135 "[OCaml] fix using format strings"
https://github.com/paparazzi/paparazzi/commit/d6161311560f04fec77bfc4c267319c85d0e0c45 introduced the display of formatted string in messages (e.g. display as hex).

However this caused segfaults in GCS and server and was subsequently partially disabled again.

With OCaml 4.02 it seems that any usage of the format strings with Obj.magic segfaults.
Proably due to http://caml.inria.fr/mantis/view.ph

[2015-03-16 15:03] flixr commented on #1046
backported to v5.4 with 3e4169c

[2015-03-16 15:03] #1046 closed

[2015-03-16 15:07] flixr commented on #1098
Feedback timeout...
Backported to v5.4 with 80cc06b76c2fa33099b32db2a1c7479a0a4a497b

[2015-03-16 15:07] #1098 closed

[2015-03-17 14:24] #1133 closed

[2015-03-18 21:39] #1135 closed

[2015-03-24 13:14] flixr opened #1145 "run multiple AHRS/INS estimators in parallel"
The goal is to have the possibility to run multiple state estimation algorithms at the same time and switch the output (to the state interface) between then during runtime.

Basic switching to a secondary AHRS is already possible with #1130.
Moved the remaining TODO list to here.

Open Questions/TODO:
- [ ] implement switching for INS
  - [ ] deal with full INS (e.g. invariant) that also outputs a

[2015-03-25 14:38] flixr commented on #595
Closing this since we now at least have some hexa and ocoto configurations, thanks to @hooperfly

[2015-03-25 14:38] #595 closed

[2015-03-25 14:45] flixr commented on #407
Closing as you can now select the mag to use by specifying the ABI sender id of the mag.
(introduced with #https://github.com/paparazzi/paparazzi/pull/856)

The orientation of the external mag still needs to be the same as the IMU, so #197 is still open...

[2015-03-25 14:45] #407 closed

[2015-03-25 14:57] flixr commented on #13
If anyone wants to test this what currently already works with qGroundcontrol, please check out the [mavlink module] (http://docs.paparazziuav.org/latest/module__mavlink.html)

[2015-03-25 17:35] agressiva commented on #13
felix, its only for rotorcraft ?
i tried compile for fixedwing and get some error about UINT16_MAX

[2015-03-25 17:42] flixr commented on #13
It should work for fixedwing as well... compiles here for e.g. Microjet_LisaM

[2015-03-25 17:44] flixr commented on #13
But to make sure UINT16_MAX is defined in all cases I added the stdint.h include with 11ff2c49239e0592eb7b176765db930e6b458c32
So please try again with latest master...

[2015-03-25 20:41] flixr commented on #271
@gautierhattenberger is that still the case? How do you disable all telemetry without removing the complete telemetry subsystem?
We should try to add an option to do this during runtime now as well...

[2015-03-26 10:49] flixr opened #1149 "Full support for Parrot Bebop"
This meta issue is to track progress of the Parrot Bebop support for autonomous flight

- [x] motor controllers
- [x] bat voltage
- [x] IMU (MPU6050)
- [x] mag (AKM 8963)
- [x] baro (MS5607)
- [x] GPS (Furuno GN-87F)
- [x] sonar

See also issue #1163 for the camera support tracking

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1003

[2015-03-27 12:19] #934 closed

[2015-03-31 22:29] OpenUAS commented on #1039
Relate info pages
* http://wiki.paparazziuav.org/wiki/AR_Drone_2/JSBSim
* http://wiki.paparazziuav.org/wiki/AR_Drone_2/JSBSIM_.xml_Configuration_File

[2015-03-31 22:34] OpenUAS commented on #892
Don't recall what my real issues was :(, Anyhow just tested an area defined by lat/lon and use inside function, it worked.

[2015-03-31 22:43] OpenUAS commented on #887
Yes, indeed. thanks, but one of the benifits of a sim is we can speed up time...the issue is that if we speed up time, the behaviour is not correct. If I test fr e.g. links loss in speedup sim on a long complex flghtplan one cannt test for it. It alwails hops to loss...no doubt there are more parameters but this was just the most problematic one.

[2015-04-14 18:46] flixr commented on #1079
@fvantienen fms_network is still used in natnet2ivy...
I tried to convert to use udp_socket instead with https://github.com/flixr/paparazzi/commit/638fc0f2a7fcef3cd23c3df6780497f90346c963, would be nice if you could confirm that natnet2ivy still works...

[2015-04-20 12:33] flixr commented on #981
About the naming of the API functions for waypoints:
Currently we have `nav_set_waypoint_foo`, `nav_globalize_local_wp`, etc... in subsystems/navigation/waypoints.h
I think that was a bad initial choice on my part!
How about naming them all consistently (and shorter): `waypoint_set_enu_f`, `waypoint_set_xy_i`, `waypoint_get_lla`, `waypoint_localize`, `waypoints_globalize_all`, etc...?

[2015-04-20 16:01] flixr commented on #954
We have some very basic example tests for the math lib in tests/math...

@fvantienen @EwoudSmeur you guys said you would also help to add some more test cases if we had the basics set up...

[2015-04-20 16:18] saaib commented on #981
Felix,

Is there a pre-agreed naming convenction structure for other functions/APIs?

Regards,

-Urivan

On 04/20/2015 05:33 AM, Felix Ruess wrote:

--
-Urivan Flores-Saaib

[2015-04-20 16:36] flixr commented on #981
Not really, mostly for historic reasons... apart from what is in the style guide: http://docs.paparazziuav.org/latest/stylec.html

It is quite painful to change the API later, and this is not in any stable branch yet: so it should be decided before the next stable release.

In general functions and variables should start with a lower case letter.
And prefer under_scored_names, but we also have qui

[2015-04-23 14:12] OpenUAS commented on #976
Can test it with my 9250 breakout on my BBB board.

[2015-04-28 14:50] flixr commented on #144
Docs can of course still be improved, but most are documented at http://docs.paparazziuav.org/latest/group__math.html

[2015-04-28 14:50] #144 closed

[2015-04-28 15:22] #1037 closed

[2015-04-28 15:45] flixr commented on #820
Added the `-ac_timeout` parameter to link with a0bee87, if you set it to a negative number, the aircraft should never be regarded as dead and uplink never disabled.
Is that enough to close this issue, or do you want add something to completely remove/kill an AC from the ground segment?

[2015-04-29 07:08] OpenUAS opened #1163 "Camera hardware support for Parrot Bebop"
This meta issue is to track progress of the Parrot Bebop support for the build in camera hardware
- [x] bottom camera
- [x] front camera
- [x] ISP video processor
- [x] H264 video encoder
- [x] GPU
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/12457683-camera-hardware-support-for-parrot-bebop?utm_campaign=plugin&utm_content=tracker%

[2015-04-29 11:09] flixr commented on #1113
Major? Really??

[2015-04-29 15:48] OpenUAS commented on #1113
Issue assigned to self...And no good autoflying without good data and same fixed firmware (need location set)

[2015-04-29 15:53] OpenUAS commented on #1113
Having the 2015 WMM.COF file busy converting to 2015 discover in 2010 current code defines...
At first glance the first 0.0 looks wrong(Swapped).. ongoing.

-----------
...
const double gh1[MAXCOEFF] = {
  0.0, -29496.6, -1586.3, 4944.4,
  -2396.6, 3026.1, -2707.7, 1668.6, -576.1,
...
const double gh2[MAXCOEFF] =  {
  0.0, 11.6, 16.5, -25.9,
  -12.1, -4.4, -22.5, 1.9, -11.8,

The table:
   2010.0

[2015-04-29 16:11] OpenUAS commented on #977
With PPRZ > 5.4 needs a re-test, lost of improvements of sensor readings. Helping with at least > 200+ flights in CyberZoo I did not encounter this behaviour anymore ( but lots of other issue)  >;-)

[2015-04-29 16:15] OpenUAS commented on #893
No one cares about this one but me I bet. At least the issue is known in issue "old stuff" closet"

[2015-04-29 16:15] #893 closed

[2015-04-29 16:17] OpenUAS commented on #1079
Needs testing in Cyberzoo. Will re-assign or report if not working

[2015-04-29 16:41] OpenUAS commented on #145
Needs testing See also #884

[2015-04-29 16:52] OpenUAS commented on #1077
FYOI: The sectors element is useful, for some(me) if we fly without a map from a small screen list based GUI only.Waypoint get highlighet so you know when reached... . etc. etc.

But my different use is of no benefit to all ;). So thinking of it... an idea is to add a flag with visible or not visible for a block, (or even waypoint?). Other ideas if considered add it to this issue.

[2015-04-29 17:09] agressiva commented on #1077
I like too much the sectors. I even use it at the field.
i think a good idea is to use KML as sector.
Everytime i go to the field i need convert the KML to sector.

[2015-04-29 17:28] OpenUAS commented on #358
As aircraft could fall from the sky (tm) at least 'ill give it an label...

[2015-04-29 17:36] OpenUAS commented on #161
Temp assigned as reminder to validate if still not fixed by e.g. EwoudSmeur

[2015-04-29 17:44] podhrmic commented on #161
Maybe I am not reading this correctly, but isn't it just "not properly calibrated gains" issue?

[2015-04-29 19:50] benlaurie commented on #161
Surely not. For example, if I give the command "yaw left 90 degrees and roll left (according to current heading) 10 degrees", then if the yaw command can be obeyed infinitely fast, that roll is actually a pitch.

That's not about gains. Its about getting the physics right.

[2015-04-30 20:47] #603 closed

[2015-05-02 14:34] flixr opened #1167 "Paparazzi center minimum size too restrictive"
On small screens the minimum size (width) of the paparazzi center is way to restrictive (too wide).

It should be possible to resize it to a smaller width, but somehow this limited by the default width of the combo boxes and buttons...
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/12832416-paparazzi-center-minimum-size-too-restricti

[2015-05-03 22:48] flixr commented on #527
reminder: needs re-testing
weird simulation results might have been due to a NPS bug fixed with #1132

[2015-05-04 15:25] flixr commented on #1085
I cannot reproduce this, never get an error on clean...

[2015-05-04 16:47] flixr commented on #1085
Ah, misunderstood you... it seems that if the aircraft config is reparsed (e.g. upon selecting the aircraft at startup or after selecting another one) it will print the error to the console where paparazzi_center has been started (pc_aircraft.ml line 187 and 300).
We could simply remove printing these errors, but I'm not quite sure if we really want to not inform the user about this... @gautierhat

[2015-05-04 18:10] #993 closed

[2015-05-04 20:56] gautierhattenberger commented on #1085
It is probably not nice to hide errors. If we want to make it better, the complete workflow of build and message has to be checked and updated. I don't really have the time to do it myself right now.

[2015-05-04 21:07] flixr commented on #1085
So we close this as WONTFIX?

[2015-05-04 21:12] #1056 closed

[2015-05-10 01:56] jroboticsgroup opened #1177 "GMaps fail to load in simulator/Need location of code that loads map"
I am relatively new to paparazzi coming from APM. I have an issue with the GCS and the loading of google map tiles which dont load at all, all other map types load apart from it.

Another issue I noticed in the simulator is that after an aircraft has landed trying to go airborne immediately(clicking "launch") will send the command to the system but the map will remain static and unchanging(you can

[2015-05-10 12:49] pesimov commented on #1177
Hi,

The Google map tiles issues has occurred to me as well. It happened when I switched offices. I assumed that people had downloaded too many maps.

Are you running the simulator for the first time? I found out that I had to wait for the GPS-wait block to be finished first. This occurs when the altitude does not change and matches initial position.
Then, I click on the 'landing strip' button fir

[2015-05-10 13:02] jroboticsgroup commented on #1177
I ran it several times. I will try your suggestion.

The GCS has a lot of features but it is very clunky, I have already started changing the icons but I want to make much greater UI mods to get it in line with some of the other GCS out there including mission planner and QGroundstation.

I think the terrain feature would be excellent as it will allow the GCS to alert persons of hills or other hig

[2015-05-10 17:12] gautierhattenberger commented on #1177
Hi,

The basic simulator ("sim" target for fixed-wing) will end when your
plane goes below the ground level. Then you just need to restart the
simulator agent in the paparazzi center. Historical reason is that it is
not very realistic takeoff again after a landing without reseting the
autopilot.

Concerning the height over ground, it is already in the GCS, you just
need the proper SRTM data. If yo

[2015-05-10 17:33] jroboticsgroup commented on #1177
Hi Gautier, thanks for getting back to me.

Thanks for clearing that up with the simulator.

In regards to the height indicator: I would love to have it visually represented on the map itself. For example looking at Cloud Cap's GCS they show you the warning for terrain height in the form of a red coloration on hills and mountains. Having this greatly improves the user experience and allows for muc

[2015-05-10 18:44] gautierhattenberger commented on #1177
The GCS is pretty old (designed in 2007) and is mostly implementing all the map handling by map. And not really in a nice way most of the time. It might be a lot of work to implement "big" features, and it is written in Ocaml (which is usually not very well known...). Of course, if you're willing to give a try, you're more than welcome :)

Are you flying in a mountainous area ? If the altitude ove

[2015-05-10 18:50] jroboticsgroup commented on #1177
Is there a way to totally replace the GCS then? like with QGroundstation

On Sun, May 10, 2015 at 1:44 PM, Gautier Hattenberger <
notifications@github.com> wrote:

--
Regards,
Horace Cunningham
Founder: Cloud Media Services
Founder: Jamaica Avionics And Robotics Design Group
email: herrhorace@gmail.com
phone:4324682

[2015-05-10 21:17] gautierhattenberger commented on #1177
there is a very support of mavlink made by TUDelft guys, not sure what is the status of this. But using it, you'll loose one of the main benefit I think of Paparazzi, which is the flight plan scripting language of the flight plan.

[2015-05-10 21:45] gautierhattenberger commented on #1177
by the way, it seems that our script to extract google map API number is not working any more. Can you give me the content of the file conf/maps.xml ?

[2015-05-10 23:30] gautierhattenberger commented on #1177
and can you report if paparazzi/paparazzi@e762fb758938222049234ca51d9dbcdee074ca4e helps or not ? (in google_map_version branch)

[2015-05-11 02:30] jroboticsgroup commented on #1177
I have this in maps.xml

<!DOCTYPE maps SYSTEM "maps.dtd">

<maps google_version="129"/>

On Sun, May 10, 2015 at 7:30 PM, Gautier Hattenberger <
notifications@github.com> wrote:

--
Regards,
Horace Cunningham
Founder: Cloud Media Services
Founder: Jamaica Avionics And Robotics Design Group
email: herrhorace@gmail.com
phone:4324682

[2015-05-11 02:31] jroboticsgroup commented on #1177
where should i put paparazzi/paparazzi@e762fb7
<https://github.com/paparazzi/paparazzi/commit/e762fb758938222049234ca51d9dbcdee074ca4e>
?

On Sun, May 10, 2015 at 10:29 PM, Horace Cunningham <herrhorace@gmail.com>
wrote:

--
Regards,
Horace Cunningham
Founder: Cloud Media Services
Founder: Jamaica Avionics And Robotics Design Group
email: herrhorace@gmail.com
phone:4324682

[2015-05-11 09:31] gautierhattenberger commented on #1177
You need to update from git and checkout this branch. Assuming the name of the remote repository of paparazzi is `origin` and you don't have local modifications (or only in your own files), something like this should work:
[code]
Now you should be on the new branch. Type `make` to rebuild the project and test. When you are done `git checkout <your previous branch>`. Use `git status` to know on whi

[2015-05-14 21:50] gautierhattenberger commented on #1177
@jroboticsgroup any update on this issue ?

[2015-05-14 23:30] jroboticsgroup commented on #1177
I have been busy, will do the changes later

On Thu, May 14, 2015 at 4:50 PM, Gautier Hattenberger <
notifications@github.com> wrote:

--
Regards,
Horace Cunningham
Founder: Cloud Media Services
Founder: Jamaica Avionics And Robotics Design Group
email: herrhorace@gmail.com
phone:4324682

[2015-05-15 15:12] OpenUAS opened #1180 "ARdrone2 IMU_Lost often"
Using Paparazzi version v5.5_devel-586-g27baff9 ARdrone2 IMU_Lost often. Using ardrone2_raw version v5.2 no the issue. Same hardware, multiple tests.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/15058852-ardrone2-imu_lost-often?utm_campaign=plugin&utm_content=tracker%2F10895&utm_medium=issues&utm_source=github)** We accept bountie

[2015-05-15 15:13] OpenUAS commented on #1180
Assigne to self, since issue now under investigation. Will add more sensible info and see I I can pinpoint the cause. It keeps raining Ardrone2's, even when the sun shines ;-)

[2015-05-18 10:05] pesimov commented on #1177
Hi,

I wanted to check this too. Git status is:
On branch google_map_version
Your branch is up-to-date with 'origin/google_map_version'.

Unfortunately, the maps were not updated.

I assume in about a week's time I could also look into it..

[2015-05-18 10:14] gautierhattenberger commented on #1177
on this branch, when you type `make` at the project root, do you have something like
[code]
or
[code]
?

[2015-05-18 10:20] pesimov commented on #1177
Hi,
Thanks for reminding me to run 'make.'

It does show:

-----------------------------------------------
DOWNLOAD: google maps version code
Updated google maps version to 171
-----------------------------------------------

Furthermore, the maps load correctly now - I had missed running 'make' earlier.

Thanks

[2015-05-18 22:28] gautierhattenberger commented on #1177
closing issue with 909239b986c998dbadc9808ad93a714a311e8b46

[2015-05-18 22:28] #1177 closed

[2015-05-18 22:33] jroboticsgroup commented on #1177
Dont close as yet, havent been able to try the last fix due to being busy

On Mon, May 18, 2015 at 5:28 PM, Gautier Hattenberger <
notifications@github.com> wrote:

--
Regards,
Horace Cunningham
Founder: Cloud Media Services
Founder: Jamaica Avionics And Robotics Design Group
email: herrhorace@gmail.com
phone:4324682

[2015-05-18 22:48] gautierhattenberger commented on #1177
I could confirm the fix for three people, so it should be fine. Don't worry, I'll reopen it if you report an error.

[2015-05-18 23:41] jroboticsgroup commented on #1177
great great

On Mon, May 18, 2015 at 5:48 PM, Gautier Hattenberger <
notifications@github.com> wrote:

--
Regards,
Horace Cunningham
Founder: Cloud Media Services
Founder: Jamaica Avionics And Robotics Design Group
email: herrhorace@gmail.com
phone:4324682

[2015-05-20 02:13] podhrmic commented on #1177
Would be possible to backport this to v.5.4?

[2015-05-20 16:06] jroboticsgroup commented on #1177
Can I get detailed instruction on how to do the git update? still new to
paparazzi

On Tue, May 19, 2015 at 10:13 PM, Michal Podhradsky <
notifications@github.com> wrote:

--
Regards,
Horace Cunningham
Founder: Cloud Media Services
Founder: Jamaica Avionics And Robotics Design Group
email: herrhorace@gmail.com
phone:4324682

[2015-05-20 16:26] gautierhattenberger commented on #1177
@podhrmic backported to v5.4

@jroboticsgroup you can look my previous message to update. If you are on master branch without modification `git pull origin/master` should be enough.
If you're not confident, post the output of the command `git status` and `git remote` it will be easier to guide you.

[2015-05-21 00:38] podhrmic opened #1183 "NPS Upgrade"
**Motivation:** Current NPS simulation works sufficiently well for many applications (FW and VTOL), however it is hardcoded to simulate gyros, accelerometer and other sensors. In case the user wants to simulate an external INS, it is not possible at the moment. Imagine I am using some external INS and don't really care about the IMU/AHRS subsystems.

**Objective:** Upgrade NPS so the sensor are si

[2015-05-21 00:50] podhrmic opened #1184 "HITL Upgrade"
**Motivation:** Current HITL subsystems is obsolete and not-functional. Last time it was used as is was probably sometime before 2012. HITL is a great way of testing the code, and having HITL functionality in Paparazzi by default would allow developers to test their code on real hardware in simulated flight, which adds another level of safety before new code is committed. Also users could use it f

[2015-05-21 22:19] podhrmic commented on #1184
@flixr @gautierhattenberger ?

[2015-05-21 22:19] podhrmic commented on #1183
@flixr @gautierhattenberger ?

[2015-05-22 13:12] IHaveADrone commented on #952
https://github.com/paparazzi/paparazzi/blob/master/doc/checklist/checklist.tex
I'm not sure if this counts as code, but it looks French to me.

[2015-05-22 13:33] IHaveADrone commented on #952
https://github.com/paparazzi/paparazzi/blob/master/sw/lib/ocaml/geometry_2d.ml
https://github.com/paparazzi/paparazzi/blob/master/sw/lib/ocaml/geometry_3d.ml
https://github.com/paparazzi/paparazzi/blob/master/sw/lib/ocaml/gtk_image.ml
https://github.com/paparazzi/paparazzi/blob/master/sw/ground_segment/tmtc/GSM/SMS_Ground_UDtest_final.c

I'm not familiar with these parts of the code, I just grep F

[2015-05-23 20:53] gautierhattenberger commented on #952
All this files are out-dated, they should be removed soon.

[2015-05-23 21:23] gautierhattenberger commented on #1183
NPS has been done to allow this kind of things (changing the sensor model), but nobody really used it in the end so it is not so easy to do since config files are not really adapted.
About using more C++ things, avoiding a big lib like boost would be good, we already have a lot of dependencies.
Also, this is a lot of work. Do you have the resources to tackle this ?

[2015-05-23 21:54] gautierhattenberger commented on #1184
Fixing HITL sim is probably a good idea. Same comment than #1183 about adding yet another big dependency like boost. I haven't used C++ for a long time, so I might be wrong about the amount of time to do this job.
You described the problem pretty well, so there is not much to add.

[2015-05-23 21:59] gautierhattenberger commented on #977
Is this still an issue ?

[2015-05-23 22:11] gautierhattenberger commented on #895
Closing this issue as a "won't fix", not really a paparazzi issue (most of the time...) and acceptable solution exists.

[2015-05-23 22:11] #895 closed

[2015-05-23 22:18] gautierhattenberger commented on #820
@dewagter does the timeout fix enough to close the issue?

[2015-05-23 22:28] gautierhattenberger commented on #685
now there is also the `agl_dist` module (http://docs.paparazziuav.org/latest/module__agl_dist.html). Maybe not as nice as being integrated to state interface, but is it enough to close this ? at least for next milestone ?

[2015-05-24 23:39] glenfordwilliams opened #1186 "paparazzi build failure"
cant seem to get paparazzi to compile under arch linux any ideas?

Warning 3: deprecated: String.create
Use Bytes.create instead.
OC pc_control_panel.ml
File "pc_control_panel.ml", line 119, characters 29-53:
Warning 3: deprecated: String.set
Use Bytes.set instead.
File "pc_control_panel.ml", line 129, characters 35-47:
Warning 3: deprecated: String.set
Use Bytes.set instead.
OC pc_aircraft.ml
OC

[2015-05-25 00:07] podhrmic commented on #1184
The motivation for boost is that it will cut significantly the development time. Probably even better would be using Python, but that would require making Python bindings for JSBsim - the existing ones seem to be outdated unfortunately: http://sourceforge.net/projects/jsbsim-python/?source=typ_redirect

Adding boost should be as simple as installing one package on Ubuntu, don't know about other sy

[2015-05-25 01:23] podhrmic commented on #1183
I sort of need to make the first two tasks anyway, so that is not an issue. I am not sure about the refactoring - short answer is maybe.... Maybe good idea would be to look at other projects, I know that at least APM / ardupilot has some kind of SITL...

[2015-05-25 07:24] gautierhattenberger commented on #1186
Please use the mailing list or the Gitter chat room (http://wiki.paparazziuav.org/wiki/Contact) for this kind of question.
You should also add the version of paparazzi (run `./paparazzi_version`) and the version of gcc (`gcc --version`).

[2015-05-25 07:24] #1186 closed

[2015-05-25 16:31] jroboticsgroup commented on #1177
I am getting this error while trying to make paparazzi

../../conf/Makefile.arm-embedded-toolchain:29: *** Error: arm-none-eabi-gcc
cross-compiler not found! Recommended toolchain is
https://launchpad.net/gcc-arm-embedded.  Stop.
make: *** [ext] Error 2

whats the most straightforward way to make this?

On Wed, May 20, 2015 at 12:26 PM, Gautier Hattenberger <
notifications@github.com> wrote:

--
R

[2015-05-25 16:53] gautierhattenberger commented on #1177
If you are using a recent ubuntu or debian, you can just do `sudo apt-get install gcc-arm-none-eabi`
Otherwise, you can try one of the following methods: http://wiki.paparazziuav.org/wiki/Installation/Linux#ARM_embedded_toolchain

[2015-05-27 08:54] TobiasMue commented on #685
so you want to close this just to open new one? thats fine with me - but then we should have at least an example how to access AGL in flight plan...

[2015-05-28 12:27] OpenUAS commented on #1039
Found a student that wants to try and finish it

[2015-05-29 10:08] gautierhattenberger commented on #1149
basic all sensors are now supported

[2015-05-29 10:08] #1149 closed

[2015-05-29 10:12] gautierhattenberger commented on #977
closing for feedback timeout
re-open if needed

[2015-05-29 10:12] #977 closed

[2015-05-29 12:45] gautierhattenberger commented on #78
Closing this issue since it will not be solved independently of #246
And it is way too old

[2015-05-29 12:45] #78 closed

[2015-05-29 13:40] gautierhattenberger commented on #685
There is now an example in the flight plans (conf/flight_plans/competitions/IMAV2014_vision.xml)
Closing issue.

[2015-05-29 13:40] #685 closed

[2015-05-29 15:08] gautierhattenberger commented on #896
Closing for now.
If more cleaning is needed, please provide a list of relevant modules.

[2015-05-29 15:08] #896 closed

[2015-06-02 20:35] gautierhattenberger commented on #564
for now, closing with #1192
a new issue might be opened for the settings issue if needed

[2015-06-02 20:35] #564 closed

[2015-06-02 22:52] gautierhattenberger commented on #820
closing due to feedback timeout

[2015-06-02 22:52] #820 closed

[2015-06-02 22:55] gautierhattenberger commented on #765
@OpenUAS can someone at TUDelft look at this issue, or is it still a problem ?

[2015-06-04 16:54] hooperfly opened #1199 "Add rotorcraft support for <Follow> flight plan block [$5]"
The `follow` flight plan block is only supported for `fixed wing` UAS at the moment. It would be nice to have this capability within the `rotorcraft` domain as well. Some design decisions related to how this feature functions across UAS types (i.e. `fixed wing`, `rotorcraft`, `vtol`, etc....) is open for discussion.

Wiki reference: http://wiki.paparazziuav.org/wiki/Flight_Plans#Follow
## <bountys

[2015-06-04 19:38] gautierhattenberger commented on #1199
Main issue is that reference point of rotorcraft are (usually) different, so you can't compare their local position easily. It means that we need to compute a local position from a global one (ecef, lla, utm ?) each time a traffic_info message is received.
Currently this message is sending utm, which is fine for fixedwing, but not really for rotorcraft.

[2015-06-04 22:29] hooperfly commented on #1199
Can you explain more why UTM is ok for fixedwing vs. rotorcraft? With respect to reference point, I would assume that all aircraft taking part in multi-aircraft exercise would share a common reference point in each of their flight plans. Is this not the case usually? Does reference point mean something other than a (x,y,z)->(0,0,0) reference value?

[2015-06-08 16:19] flixr commented on #1199
@hooperfly in the fixedwingfirmware the navigation coordinate system is UTM, in rotorcraft firmware it is LTP

[2015-06-08 16:36] agressiva opened #1201 "HOVER and NAV problem when using YAW command with stabilization_quaternion"
When using YAW command in HOVER or NAV the rotorcraft start wobble.

I tested all combinations of AHRS and Stabilization and the problem only occurs when using stab_int_quat or stab_float_quat

in this video is possible to see the problem:
look at 3:00 to see how crazy the problem is.
https://www.youtube.com/watch?v=wmKrjwOyuAQ

How i do the tests:
First i let the rotorcraft in hover mode for some

[2015-06-08 16:40] agressiva commented on #1201
|                |                  Stabilization                    |
+----------------|---------------------------------------------------|
|     AHRS       | int_quat   | float_quat | int_euler | float_euler |
| int_cmpl_quat  |   wobble   |little wob  |     OK    |     Ok      |
| float_cmpl     |   wobble   |little wob  |     OK    |     OK      |
| int_cmpl_euler |            |     -      |

[2015-06-08 17:02] agressiva opened #1202 "HOVER and NAV wobble when using stabilization_euler"
When using stabilization int_euler or float_euler the hover/navigation start wobble

here the log that show the problem.
https://www.dropbox.com/sh/abo1p42zsfx1k8e/AABjgGWHmkGspIFlX8tJey19a?dl=0
I am using ppz version: v5.5_devel-618-gd9ba218-dirty

Compass calibrated ans tested
H_X, H_Y and H_Z set to mine location.

Here are the steps to reproduce the problem:
Let the rotorcraft in hover and do

[2015-06-08 17:31] hooperfly commented on #1199
@flixr thanks. I've been reading some archive UTM/LTP fixed/rotor discussion to become more familiar with the issues: https://gitter.im/paparazzi/discuss/archives/2015/01/05

[2015-06-08 17:51] flixr commented on #1202
duplicate of #1201 ?

[2015-06-08 19:18] flixr commented on #1202
And you only have the problem with euler stabilization?
Why use euler in the first place (instead of the quaternion version)?

Also the log is from Quad680 with float_euler stabilization and float_mlkf ahrs...

[2015-06-08 20:22] agressiva commented on #1202
Hi Felix, i ever used quaternion  but last week i do some flightplans using YAW command and found a problem with this stabilization.

Every time i use the YAW the quad do some strange and dangerous maneuver so i changed to euler and i get another problems.

[2015-06-08 20:45] agressiva commented on #1201
logs that sshow the problem
https://www.dropbox.com/home/Public/Paparazzi%20wobbly

[2015-06-08 21:16] flixr commented on #1201
That link is only valid for you...

[2015-06-08 21:18] flixr commented on #1202
Did you test #1170 (which should bring some improvements)?

[2015-06-08 21:19] flixr commented on #1202
From the log it looks like you request a higher yaw rate than the quad can manage...

[2015-06-08 21:48] flixr commented on #1201
might be related to #161?

[2015-06-08 22:20] agressiva commented on #1202
Felix, i tested using #1170 without any result.

about yaw rate, yes ... quad not support that acceleration.
I do some adjusts in reference to do the tests.

[2015-06-08 22:44] agressiva commented on #1201
Felix, i read the #161 and i think its related.
some time ago (when i started to fly ppz quadrotor) i do some fast maneuver (coordinated turns, funnel pitch etc) and some time after fast yaw changes the attitude work very bad for some time.

This week i do the same maneuver using euler and not see any disturbance in attitude.

so, i have a question:  way the heading use to rotate the matrix is the

[2015-06-09 08:19] OpenUAS commented on #1202
The hint by @flixr about to high a to high yaw rate is also in our experience cause for "Wobble". Let us know via this issue it adjusting the thing mentioned fix your issue and add comment to this issue please, that would be great.

[2015-06-09 11:26] flixr commented on #1201
because you want to compute the final setpoint and currently it simply treats all attitude axes as equivalent as @dewagter noted...

[2015-06-09 13:01] flixr commented on #1079
should be finally closed with merge of #1162 which removed the fms stuff

[2015-06-09 13:01] #1079 closed

[2015-06-09 15:54] flixr commented on #1105
@gautierhattenberger what is up with the rt_chibios branch? It seems that AHB_CLK is missing for lisa_mx_rt board and there are some other compile errors for apogee...
Would be great if we could get those fixed asap so that we can merge the rt_chibios branch...

[2015-06-09 16:33] flixr commented on #1105
Hopefully correctly set AHB_CLK for lisa_mx_rt, sw/airborne/firmwares/fixedwing/main_chibios.c seems to be missing for apogee_chibios

[2015-06-09 20:10] gautierhattenberger commented on #1105
True, I forgot this file.
It seems to start working, what is really missing is the level of "configurability" that we currently have with libopencm3. And also finishing the SD card modification.
So I'm not sure we can merge this for the next release (assuming it will be before the summer...).

[2015-06-09 20:13] podhrmic commented on #1105
I don't think it should be merged as it is. I will have time to work on HAL integration at the end of June. It would make sense to merge once the HAL is included, so people can play with Chibios, but indeed that depends on the timeline for v 5.6 - when do you want to release it?

[2015-06-09 20:30] gautierhattenberger commented on #1105
it was planned for July 6th...

[2015-06-09 20:31] podhrmic commented on #1105
Hmm, a tight schedule but doable...

[2015-06-09 20:35] gautierhattenberger commented on #1105
sorry, I meant June 6th. But even July will be difficult!

[2015-06-11 16:49] #452 closed

[2015-06-13 09:04] #605 closed

[2015-06-13 09:04] #643 closed

[2015-06-13 10:02] gautierhattenberger commented on #404
Note that it is already possible to display a sector from a kml file in the GCS. It is only able to use polyline (converted to closed polygon for display) and it doesn't generate embedded code.
[code]

[2015-06-13 14:58] agressiva commented on #404
jep, i tested some time ago.

What i want is the possibility to load KML files direct in CGS maps/load_sector
Its very usefull in the field.
I use it as guide to move the waypoint manually in the field.

may be it be called KML OVERLAY

[2015-06-16 07:05] OpenUAS opened #1208 "Flashing using BMP [upload] Segmentation fault"
Using PPRZ v5.5_devel-628-gd078f7f  Flashing a regular Lisa/M v2 using a Black Magic Probe (BMP) with firmware blackmagic-20141017.bin gives during [upload] a Segmentation fault

Paparazzi version v5.4.2_stable-0-g21e8716 works well, exact same hardware.

...
No. Att Driver
 1      STM32, High density.
make[1]: *** [upload] Segmentation fault (core dumped)
...

<bountysource-plugin>
---
Want to ba

[2015-06-16 13:46] flixr commented on #1208
This doesn't seem to be a paparazzi problem, you should open an issue with the black magic probe....

[2015-06-16 16:00] podhrmic commented on #1208
does BMP use llibopencm3? Maybe it can be related to our recent upgrade of libopencm3 version?

[2015-06-16 17:55] flixr commented on #1208
AFAIK, the BMP does use libopencm3, but since we don't build the bmp firmware in paparazzi this is unrelated to our libopencm3 update.

[2015-06-16 17:59] flixr commented on #1208
Also I can upload just fine using paparazzi version v5.5_devel-628-gd078f7f, Black Magic Probe (Firmware 1.5, build 20141016), GNU gdb (GNU Tools for ARM Embedded Processors) 7.8.0.20150304-cvs

[2015-06-18 20:32] flixr opened #1209 "add copy AC menu item to paparazzi center"
I think it would be nice to add a "A/C->Copy" menu item to the Paparazzi Center menu additionally to "A/C->New".
Often one starts with one of the existing airframes anyway and goes on to adapt it.
So it would be desirable to have a "copy" option that creates a new A/C entry in conf.xml with the same initial xml files as the currently selected one. Preferably there would also be a dialog to ask if

[2015-06-18 20:45] flixr commented on #1084
@fvantienen I was also unable to reproduce this and have never had this happen so far.
So unless you have some more information on this topic or steps to reproduce it, I suggest we close this issue.

[2015-06-19 18:11] martinmm opened #1210 "Use 8 bit I2C address scheme for Linux drivers"
The imu_mpu60x0_i2c subsystem does not work with STM32 targets. The address gets shifted by one bit in in the i2c init call

https://github.com/paparazzi/paparazzi/blob/master/sw/airborne/subsystems/imu/imu_mpu60x0_i2c.c#L74

as in other Linux drivers, e.g. Bebop

https://github.com/paparazzi/paparazzi/blob/15f8c182544d6197b21f4da2c88c5b177453abc3/sw/airborne/subsystems/imu/imu_bebop.c#L82

Seems

[2015-06-20 22:51] TobiasMue commented on #1209
great idea!

[2015-06-20 23:29] agressiva commented on #1209
+1

[2015-06-21 16:05] flixr commented on #1210
Yes, we should definitely be consistent here!
The question is if we want to use the 7-bit or 8-bit convention? I guess keeping the 8-bit convention in our mcu_periph API is the least intrusive as you proposed...
Could you make a patch/pull request?

[2015-06-21 17:23] martinmm commented on #1210
Would vote for 8 bit and will create a PR

[2015-06-22 13:34] #1210 closed

[2015-06-23 15:20] flixr opened #1212 "input2ivy can't send all messages"
input2ivy is partially broken since #1138 since now message field types have to match.
This is not the case in input2ivy where all fields are simply ints (which is a limitation anyway...).
So it fails for any message where the fields are not ints with something like:
`Scanf.Scan_failure("format read '%s' does not match specification '%d'")` errors

Steps to reproduce:
Run input2ivy with a config f

[2015-06-23 15:39] flixr commented on #1208
@OpenUAS as I cannot reproduce this, you will have to dig a bit deeper yourself...

[2015-06-23 17:43] podhrmic opened #1213 "WEAK functions cannot be properly redefined"
**How to reproduce the bug?**

1. Paparazzi master, select A/C Twinjet
2. in https://github.com/paparazzi/paparazzi/blob/master/sw/airborne/subsystems/imu/imu_analog.h#L56 comment out lines 56 to 61
3. Compile - you will see the following error:
[code]

### Summary ###
```imu_analog``` is redefining the default ```imu_scale_accel``` function (here https://github.com/paparazzi/paparazzi/blob/master

[2015-06-23 17:57] flixr commented on #1213
This is expected (while not necessarily desired).
If you have a weak function, it is still always compiled. But if you link and you provide a non-weak function, then this is used/linked in instead.
In this context it means that in order to compile the weak (default) function, you need all the defines it uses so it can compile that compilation unit.

[2015-06-23 18:06] podhrmic commented on #1213
I see. So basically it means I still have to provide all necessary defines, but my own (in this case an empty function) will be called during execution, right?

Maybe in that case it would make sense to provide default defines with proper ifdef guards in imu.h?

[2015-06-23 18:43] flixr commented on #1213
Correct.

The reason that I didn't put default defines in imu.h was that I wanted to get a compile error if you don't specify them (unless the particular imu implementation you use already provides some defaults).

Before doing that, I would rather split out these functions into a separate file, so they are only compiled if they are actually needed...

[2015-06-23 18:49] podhrmic commented on #1213
OK, I am marking this as closed, as separating the weak functions should be another issue, and this is not really a bug.

[2015-06-23 18:49] #1213 closed

[2015-06-23 21:36] flixr commented on #1212
Thx @gautierhattenberger while this seems to have fixed the immediate issue, you can still not send any float values via input2ivy (e.g. in DL_SETTING).

[2015-06-23 22:00] gautierhattenberger commented on #1212
Crap, I didn't realized that my tests were all using integer...

[2015-06-23 22:32] gautierhattenberger commented on #1212
is it better now ?

[2015-06-24 10:12] flixr commented on #1212
A bit nicer, but `eval_expr` can still only return ints and will `failwith "eval_expr: float"` if you have a float as value in a message field.

[2015-06-24 15:30] gautierhattenberger commented on #1212
This was already the case before I think. The easy way is to make an int from a float when in occurs, but it is not really satisfactory. We can do the opposite: always return float and truncate afterwards to int if needed. Correctly handling both is of course possible, but a bit annoying...
In which case do you really need a float ?

[2015-06-24 19:37] flixr commented on #1212
Yes, that was already the case before, so the really vital part is fixed.
And I don't have an immediate need to send any float values, but in general it should be possible (e.g. if you want to change a setting that is really a float).
Shall I open a new issue for that, or do we track this in here?

[2015-06-24 20:31] gautierhattenberger commented on #1212
Better close this one and open a new one. But this will actually a lot of trouble to support this from my first investigation.

[2015-06-24 21:23] #1212 closed

[2015-06-24 21:25] esden commented on #333
Is this still an issue? Since Lisa/M(X) V2.1 with integrated aspirin V2.2 I have not run into this issue any more. Is it a hardware issue related to the aspirin having more capacitance on the power rail?

[2015-06-24 21:30] flixr commented on #333
I have never had this issue in the first place, so I don't know...

[2015-06-24 21:35] fvantienen commented on #1084
I haven't seen this anymore.. not sure why it happened.
Will close it for now, and if it happens again will reopen ;)

[2015-06-24 21:35] #1084 closed

[2015-06-24 21:39] EwoudSmeur commented on #333
I have not seen this issue for a long time, so I think we can close it.

[2015-06-24 21:43] flixr commented on #385
Closing this as it should (tm) be solved with the merge of #1170

[2015-06-24 21:43] #385 closed

[2015-06-24 21:46] esden commented on #1208
This looks like arm-none-eabi-gdb crashing. So I would try to investigate if this is related to the version of your gdb vs BMP firmware...

Did you try to open the core dump and see what crashes?

[2015-06-24 22:15] fvantienen opened #1214 "ARDrone SDK Remove"
Since the ARDrone SDK isn't tested and used anymore for a long time, we decided to remove it in the next release.
This should also prevent a lot of errors with starters of Paparazzi.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22964057-ardrone-sdk-remove?utm_campaign=plugin&utm_content=tracker%2F10895&utm_medium=issues&utm_source

[2015-06-24 22:27] flixr commented on #1214
Jep, can you do this and make a pull request?

[2015-06-24 22:30] fvantienen commented on #1214
Yes will do this ;)

[2015-06-24 22:37] esden opened #1215 "[paparazzi-center] Generic Airframe drop-down dependent sessions"
Currently there is now way to create sessions in the paparazzi-center that are aware which airframe is selected in the drop-down menu. The only session that is aware of that is the '''Simulation''' session.

The '''Simulation session''' is hardcoded in ocaml at the moment.

Motivation:
There is no way to have for example settings application run without creating specific sessions for it as the pro

[2015-06-24 22:52] esden opened #1216 "User feedback system"
We would like to implement a service that would gather non personal data about the setups people are flying using paparazzi.

We want a website that provides general statistics of what airframes people use and what configs are common as well as which versions of paparazzi are being flown the most.

Possible solution:
On every start of control center we check if there are new logfiles. If the logfi

[2015-06-25 15:45] flixr commented on #161
@dewagter do you have any good ideas on how to fix this (also taking the reference generator into account)?

[2015-06-26 19:27] gautierhattenberger commented on #1208
Some more info about a recent issue.
While flashing a (working) code (not paparazzi actually) with a BMP and the latest firmware, the program (running on F4) randomly crashes (during peripherals init). Doing the same with an old BMP firmware, the same code is working as expected.
The old working firmware was https://github.com/blacksphere/blackmagic/commit/e0a8ce5a887cb31f38077cd22271fd894070e0e9

[2015-06-30 20:33] flixr commented on #1208
@OpenUAS @podhrmic could you plz test setting the debug flag for compiling back to -g?
[code]
as #1164 is the only change between v5.4 and current master that I can think of which might impact flashing.
If it still fails, could you please try flashing a firmware built with master with v5.4?
And try flashing "manually", so something like
[code]
to see when it segfaults?

[2015-07-01 18:01] podhrmic commented on #1208
With ``DEBUG_FLAGS=-g`` it uploads no problem! If I remove the ``DEBUG_FLAGS`` option, it segfaults during upload.

[2015-07-01 18:06] podhrmic commented on #1208
Interestingly "manual" flashing works with either DEBUG_FLAG.
Also, if I run the black_magic_script manually (step by step), it also works. Just when I do it with the make command, it fails

[2015-07-01 18:09] flixr commented on #1208
Huh? that is really weird...
at which point does it fail? After the load?

[2015-07-01 18:21] podhrmic commented on #1208
it crashes during the load:
[code]

but not if I enter the same commands manually in gdb

[2015-07-01 18:32] flixr commented on #1208
What gdb version are you using?
I guess it then still crashes if you remove the kill from the script?
And just to make absolutely sure that it is a gdb/bmp problem, it also crashes if you run gdb in batch mode with the script from the commandline, right?
[code]
Also, do you have anything in your `.gdbinit`? (as that is also executed in batch mode it seems..)

[2015-07-01 18:48] podhrmic commented on #1208
OK, let me rephrase it.

### Case 1 ###
1. Complie AC code from terminal with the DEBUG_FLAGS ``make AIRCRAFT=foo clean_ac ap.upload DEBUG_FLAGS=-g FLASH_MODE=SWD`` => it uploads just fine
2. Uploading the same ``ap.elf``file manually, i.e. running these steps
[code]
works just fine too.

### Case 2 ###
1. Complie AC code from terminal *without* the DEBUG_FLAGS ``make AIRCRAFT=foo clean_ac ap.uplo

[2015-07-01 19:05] flixr commented on #1208
Could you please also try with a more recent gdb version?
E.g. I couldn't reproduce this with gdb 7.8.0.20150604-cvs that is included in gcc-arm-none-eabi 4.9.3.2015q2-1trusty1 from [Terry.Guo] (https://launchpad.net/~terry.guo/+archive/ubuntu/gcc-arm-embedded)

[2015-07-01 19:27] podhrmic commented on #1208
works with newer (7.8)GDB version without a problem.
It is possible that I had the Ubuntu package, not the ARM one, yet it worked without problems until now (so I haven't noticed).
So the mitigation is to upgrade your arm-none-eabi version and use the correct package.

[2015-07-01 19:34] flixr commented on #1208
Yep, closing this then, as it is not a paparazzi bug.
Solution: use a recent gdb version, 7.8.0.20150604-cvs that is included in gcc-arm-none-eabi 4.9.3.2015q2-1trusty1 from [gcc-arm-embedded on lauchpad] (https://launchpad.net/~terry.guo/+archive/ubuntu/gcc-arm-embedded)

[2015-07-01 19:34] #1208 closed

[2015-07-06 08:21] cogbot1 opened #1223 "Fuel indicator not working properly"
When installing Paparazzi on a Boeing 737 the fuel indicator is not able to handle the amount of fuel left.

![img_20150627_085932](https://cloud.githubusercontent.com/assets/7021603/8518168/da09ba8a-23c7-11e5-9f4c-db8735d56a70.jpg)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23777634-fuel-indicator-not-working-properly?utm_campa

[2015-07-06 08:21] cogbot1 commented on #1223
Update: added a better picture.
![img_20150627_085902](https://cloud.githubusercontent.com/assets/7021603/8518276/cb0ac87a-23c8-11e5-93c7-49e6b2488800.jpg)

[2015-07-06 08:47] flixr commented on #1223
Lol, did the HOME mode work at least?

[2015-07-07 10:57] #1041 closed

[2015-07-07 14:27] EwoudSmeur opened #1225 "Bebop does not work anymore on master"
On master, the Bebop does not show a battery voltage and does not start it's motors, even while the status is IN_FLIGHT.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23868670-bebop-does-not-work-anymore-on-master?utm_campaign=plugin&utm_content=tracker%2F10895&utm_medium=issues&utm_source=github)** We accept bounties via [Bountyso

[2015-07-07 15:24] #1225 closed

[2015-07-07 21:10] flixr commented on #1223
Closing as "won't fix" as I will never be able to do even simple desk tests with the 737 ;-)

[2015-07-07 21:10] #1223 closed

[2015-07-07 21:12] flixr commented on #1215
Solved with merge of #1217

[2015-07-07 21:12] #1215 closed

[2015-07-07 21:15] flixr commented on #1180
Any updates here?

[2015-07-08 16:00] #1214 closed

[2015-07-10 16:29] kevindehecker opened #1233 "Autopilot uses 100% cpu on ARdrone2"
Using newest master, ap.elf uses 100% cpu on the ARdrone2. Also tested with 5.4.2 stable tag, which does not have the problem (around 2% according to top).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24087799-autopilot-uses-100-cpu-on-ardrone2?utm_campaign=plugin&utm_content=tracker%2F10895&utm_medium=issues&utm_source=github)**

[2015-07-13 10:59] kevindehecker commented on #1233
We tracked the problem to this commit e2b741be03cd4e5c5a81a88c525e7d30a9c508be

([ardrone] Make navdata multi-threaded because of blocking read)

[2015-07-13 14:11] flixr commented on #1233
Yes, @fvantienen moved the reading of navdata to a separate thread (see discussion in #1117).
But I don't think that this is the "problem", rather this now enables the rest of the code to run "normally" again.
If you look at `main_event()` in main.c, you will see that this essentially runs as fast as possible, hence you have 100% cpu load while spending most of the time in this "event loop" pollin

[2015-07-13 14:18] kevindehecker commented on #1233
Yeah, apparently that commit fixed a long winded problem of a blocking read on the nav board, which should not block but did anyway. As a result, the ap used far less cpu.

The main loop in the ap is now always spinning 100% by design, which makes sense with mcu architectures, but does not when an OS comes to play. It seems very clear to me that this (in case of an OS) is a bad design, but since e

[2015-07-13 14:28] flixr commented on #1233
Of course, mainly wanted to point out that this is not a "regression" and everything was peachy in v5.4...
We all totally agree that this "event loop" is not really what you want to use if you have an (RT)OS...
There are a couple of issues/feature requests open in that direction (e.g. https://github.com/paparazzi/paparazzi/issues/243)
Any help on this is of course appreciated...

[2015-07-14 20:48] podhrmic opened #1236 "Prepare flight tested airframes + select the unsoported ones"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24339840-prepare-flight-tested-airframes-select-the-unsoported-ones?utm_campaign=plugin&utm_content=tracker%2F10895&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F10895&utm_medium=issues

[2015-07-14 20:53] gautierhattenberger commented on #1180
It is not clear if we can really do something in about this issue in the end... It looks like a hardware flaw of the ARDrone2. Unless we have more information from Parrot, I would like to close this issue and add a warning about this known issue in the wiki.

[2015-07-14 20:59] flixr commented on #1180
I'm at least taking it out of the milestone until we have more information to act on....

[2015-07-14 21:12] flixr commented on #1236
see also #888 and #974

[2015-07-14 23:14] kevindehecker commented on #1233
Took a quick look at #243, and did not see a quick but relevant way that would help for this specific report.

However, I'm quite happy with my quick usleep in the main loop fix, and at the least it seems much better than doing nothing.

[2015-07-15 12:05] OpenUAS commented on #1209
Only if copy is copy it will be handy IMHO, if not the Airframe XML is copied it is more like an alias an will give much confusion(based in hands on with +100 different students using Paparazzi)

[2015-07-15 12:11] OpenUAS commented on #1180
With the new fix of non blocking did not experience it on multiple different AR-Drones 2. The issue with testing was there where multiple other PPRZ issue keeping from having decent test flights. So closed for now, and will reopen if experienced again. @gautierhattenberger , see above Same Hardware, other PPRZ version, so yes we can do something.

[2015-07-15 12:11] #1180 closed

[2015-07-15 16:59] kevindehecker opened #1243 "Properly handle uninitialised RC"
If some joysticks are connected fresh from USB, they give random crap values. Only at least in case of the Hobbyking RC (but also the gold simulator in with the switch in a certain position), they are not random, but maxed out.

I made a fix for the worst case (#1242), but ultimately I'd sat this should be handled already in the ground segment. At least in the sense to provide user feedback that t

[2015-07-15 19:25] #1233 closed

[2015-07-15 22:01] podhrmic commented on #1236
So I did a quick check of which configurations/airfames are actually compiling. A summary is here: https://docs.google.com/spreadsheets/d/1JK6Di9Z9cGQN0RycM6JxvBHufjcdzLZuKnN8s68IXP4/edit?usp=sharing

I am not sure what should be the next step - IMHO I should delete the non-working configurations and move the related airframes into some "obsolete" folder.

As for the control panels - I did some te

[2015-07-15 22:34] flixr commented on #1236
At least TwoSeas should compile (hopefully) work again after fixing ins xsens700 in 3d41040278f724cffe9122bf37eebbc8bc6f3c71

For the personal/institution confs/airframes, I would leave it to @gautierhattenberger and @dewagter to fix/move/delete them as they see fit.

IMHO the more important part is checking/moving/fixing all the airframe files in examples that are not in any conf.
In the end all

[2015-07-16 13:43] kevindehecker commented on #1010
Closed with 6aa736409887bd4e8be3a6ba1865542a3403aa3d

[2015-07-16 13:43] #1010 closed

[2015-07-16 19:39] agressiva commented on #1202
I do some more tests with another quadcopter and it worked fine.
The problem is related to mine hardware.

[2015-07-16 19:40] agressiva commented on #1202
tested with stabilization int and float.
work perfect.

[2015-07-16 19:40] #1202 closed

[2015-07-16 19:56] agressiva opened #1245 "Problem when using remote GCS"
i am running the SIMULATION and GCS on raspberry pi2 and
a remote GCS on mine laptop across ethernet link.

On raspberry i am using the user TESTE so the paparazzi are in home/TESTE/paparazzi.
On laptop i am using user EDUARDO so the paparazzi are in home/EDUARDO/paparazzi.

when i start the GCS on laptop i get this message:
Fatal error: exception Failure("File not found: /home/TESTE/paparazzi/var

[2015-07-16 20:29] podhrmic commented on #1236
OK, so I did check for which aiframes are actually used in any conf file. From total 176 aiframe config files, there is 96 used and 85 unused. Please see this spreadsheet for details: https://docs.google.com/spreadsheets/d/1JK6Di9Z9cGQN0RycM6JxvBHufjcdzLZuKnN8s68IXP4/edit?usp=sharing

Please look through the list, I will make a pull request with the unused airframes being moved to the obsolete fol

[2015-07-16 22:07] flixr commented on #1245
The server sends the complete path in to the xml files in the CONFIG message:
[code]
Maybe we could "fix" this by inserting a placeholder for `PAPARAZZI_HOME` in the file url....

But the then you have to make sure that the files you have locally match the files on the remote host where the server is running...

The better solution for this use case might be to use the `-http` option of the server

[2015-07-17 16:20] podhrmic commented on #1236
@flixr @gautierhattenberger any feedback on this?

[2015-07-17 16:36] flixr commented on #1236
Thanks a lot for going through all those!

As I said before, I would leave it up to the respective people to cleanup their own subfolders.
For the files in examples, I would say we move all that are not part of a conf to an `unmaintained` or `untested` folder.

[2015-07-22 23:12] OpenUAS commented on #1113
Looking at NASA table comparing 2010 data, could it be the first index values where swapped all along ?

[2015-07-22 23:16] #333 closed

[2015-07-22 23:20] OpenUAS commented on #197
not having  a MAG to body more and more an issue with all the different supported hardware in Lab so raised level a bit

[2015-07-22 23:23] OpenUAS commented on #1245
@agressiva Make a symbolic link both with same name perhaps would be an intermediate solution

[2015-07-22 23:29] OpenUAS commented on #4
I rather not have a program restart after editing, most of the time  I add parameters to be able to start it at the very moment I would like it.

With the Linux GUI option "icons on button" could already be considered "led"

ON the whole improving it is sure a welcomed addition, however the session was quickly understood and used my experienced guiding 100+ of students.

[2015-07-22 23:32] OpenUAS opened #1254 "Bootloader on MX working with latest LibopenCM3"
AS a user I want a simple way to upload my AP software to the AP board. the newer Lisa v2 MX has an F4. THe working of flasing by USB are not tested and know to be problematic. Will dig up a board and start testing.

Issue move to https://github.com/paparazzi/luftboot/issues/8

[2015-07-23 07:26] flixr commented on #1245
I would really suggest serving the xml files via http: https://wiki.paparazziuav.org/wiki/Server#Serving_XML_files_via_http

The question however is what we actually want to happen in a case like this?

[2015-07-23 07:43] kevindehecker commented on #4
I think the whole design of pprz center is completely backwards and needs heavy rethinking. It attempts to be an IDE, but lacks critical IDE features and on the same time adds features that should not be handled by an IDE. Simple examples of those:

1. Center shows the compilation output, but it is impossible to double click the error and go there in the editor
2. Opening plots and messages for fl

[2015-07-23 07:49] flixr commented on #4
Paparazzi Center is NOT supposed to be an IDE!

And personally I absolutely disagree that the sessions and things like connecting joysticks should be integrated into the GCS, these are totally separate things and don't even need to run on the same host.

[2015-07-23 08:26] kevindehecker commented on #4
Not supposed yes, still attempting. This is exactly my point...

Sure, I don't know all GCS' use cases, but the one we are using here like 99% of the time actually does run on the same host which should count for something. In any case, if you start calling out implementation details (which I'm can be fixed in some way), you are very sure to win this discussion because clearly you have much more k

[2015-07-23 09:55] flixr commented on #4
In my view the Paparazzi Center is not even attempting to be an IDE... as the name says, an IDE is use for developing.

For me the Paparazzi Center is foremost something to more easily run/supervise multiple processes and to save them in sessions so that you don't have to type it out every time.

About integrating other parts in the GCS:
The GCS is only one part (and an optional part at that) of t

[2015-07-23 12:15] gautierhattenberger commented on #4
In addition I would say that the Paparazzi ground station is build on a very different principal compared to other GCS like qgroundcontrol. It is a set of small dedicated tools (server, link, GCS, ...) that are designed to something precise but need to interacts with other elements to actually produce something (this is coming from the Unix world). Other projects usually have a monolithic approach

[2015-07-23 21:43] kevindehecker opened #1258 "Automatically start/stop new log from flightplan"
I would like a feature in which the log (which is important for my science) is automatically split into relevant separate files, i.e. start a new log file at take off, stop it just after landing.

In my opinion, this could be a command called from the flight plan.

[2015-07-23 21:49] flixr commented on #1258
This could be done for some of the onboard loggers, but I don't really see how it would be possible to start/stop the log created by server on the ground_segment....

[2015-07-24 03:26] agressiva commented on #1258
Interesting to people that use a remote server running on raspi as i .

[2015-07-24 04:25] hooperfly commented on #1258
I post process the log files and simple decompose/filter them based on whatever criteria I am interested in analyzing. Often it's simple sed/awk command on the generated log file. That way, I can tease out the relevant data. You could also use the plotter/logplotter tool to filter/decompose a log file. So maybe a post-processing tool vs. a pre-execution configuration might be more flexible? Maybe?

[2015-07-24 07:49] kevindehecker commented on #1258
Post-processing: that's what I'm doing now yes. But like many, I'm not as handy in sed/awk commands...

Come to think of it, appending is much easier than splitting. Also from cmd. How about splitting logs at engine start by default? This way no flight plan signal is required. Also it smooths a regular use case for these logs, which is to debug the latest unexpected problem/crash in the field. If

[2015-07-24 08:38] flixr commented on #1258
Just keep in mind that server logs all aircrafts, not just one...
So automatically splitting logs when one starts the engine is not a good default.

[2015-07-24 15:08] hooperfly commented on #1258
The plotter tools already parse the log files. Enhancing them or building a new tool that facilitates the splitting/filtering of data based on various attributes(i.e.: aircraft id, message types, event types, temporal boundaries, etc...) seems like a nice way to facilitate data log transformations. Just an idea.

[2015-07-24 16:33] podhrmic commented on #1254
FYI there already exists a bootloader for Lisa MX https://github.com/podhrmic/aggieair-bootloader but it still has to be merged to the main repo, since it is using older version of libopencm3 and needs to be updated. Again, something I will do after the v5.6 release.

[2015-07-24 16:41] podhrmic commented on #888
@OpenUAS @flixr is this resolved with #1249 ?
I am not really sure how to approach all of the mentioned issues, but maybe good enough to close since it has milestone for v5.6?

[2015-07-24 16:42] podhrmic commented on #974
Again, should be fixed with #1249
@flixr @OpenUAS are we good for v5.6?

[2015-07-24 16:43] podhrmic commented on #1254
Shall we move it to milestone v5.8?

[2015-07-25 08:32] flixr commented on #974
Well that depends if we want builds running for more/all airframes or not...

[2015-07-25 08:33] flixr commented on #888
I think we still have a little more cleanup to do...

[2015-07-25 08:35] kevindehecker commented on #1258
Currently the plotter takes ages to open of them big log files, but that idea could work!

[2015-07-25 08:35] kevindehecker commented on #1258
Currently the plotter takes ages to open of them big log files, but that idea could work!

[2015-07-25 10:59] flixr commented on #1245
@gautierhattenberger what do you think?

Is it desirable to be able to use this on different hosts and users (thus different PAPARAZZI_HOME) but with the need to keep stuff in sync yourself?
The we could probably implement some placeholder for PAPARAZZI_HOME..

Or should we mark this as WONTFIX and recommend to server the files via http in cases like this?

[2015-07-25 13:24] gautierhattenberger commented on #1245
Since the solution exists with http (is kind of made for this situations), I suggest to recommend it and close the issue.

[2015-07-25 13:30] flixr commented on #1201
To clarify: you only have this issue if you give a "full" yaw command and when you yaw more slowly everything is fine, correct?
That would also mean you should adjust the yaw part attitude reference model (lower it to something your airframe can actually achieve).

[2015-07-25 13:32] flixr commented on #1245
Closing, please use the http option if you want to run server and GCS on different hosts

[2015-07-25 13:32] #1245 closed

[2015-07-25 13:38] gautierhattenberger commented on #1258
As a reminder, you can use the log plotter to select a "time frame" and then export the data in CSV (http://wiki.paparazziuav.org/wiki/Plotter#Export_values_in_CSV_format). The wiki probably needs some update thought.
Also, an idea to make the slitting easier is to "generate" a message in the log that will be easy to find afterwards. I suggest to use the `Mark` button in the strip (http://wiki.pap

[2015-07-25 16:14] podhrmic commented on #888
OK, can you be more specific? Looks like everybody has his own style of making airframe config files (i.e. firmware section on the top vs. bottom) so it is hard to say which one should be preferred.

[2015-07-25 16:44] flixr commented on #888
I vote for firmware section at the top, then modules, then the rest...
apparently the airframe editor that @dewagter started is at least able to reorder everything in the airframe file, but I have never used that so far...

Ideally we would probably only have a representative set of airframes in examples at the end (e.g. commonly used combinations and ones showing some nice features).
Maybe move t

[2015-07-25 18:08] agressiva commented on #1201
Felix, the first time i see this problem the copter are flying in NAV.
It occurred when i changed from STANDBY to rectangle_survey and the copter start to climb and changing the yaw at same time.

the copter crashed two times in this situation. Its very dangerous because the copter goes do ground with full throttle.

The 3th time it occur the copter are in rectangle survey and i start another poly

[2015-07-27 11:42] OpenUAS opened #1263 "Bebop GCS hight goes up and up"
Using Paparazzi version v5.5.1_testing-0-g8756d2e-dirty with regular example/bebop.xml GCS height goes up and keeps counting up.

Looking at baro messagesit all  all look fine. Noticed however lots of flips between 3D fix2D fix and None(also  outside

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25016955-bebop-gcs-hight-goes-up-and

[2015-07-27 11:43] OpenUAS commented on #1263
Blocked for Bebop not 5.6. A bebop is not really flyable without a good baro. Under investigation as of 20150727 - 13:30 CET Trying to pinpoint cause now.

[2015-07-27 12:46] EwoudSmeur opened #1266 "[INS] USE_INS_NAV_INIT causes bad initialization of INS"
USE_INS_NAV_INIT is default true, but gives problems when the flight plan lat0/lon0 are not close to the drone startup location.

I took a standard flight plan, which had it's origin at ENAC. I didn't take the effort to change the origin because with all relative waypoints they will move to my drone's position when I have a GPS fix anyway. However, the drone initially estimates an altitude of ~800

[2015-07-27 13:14] OpenUAS commented on #1263
Some findings The v-speed m/s speed also counts up to unlimited
GCS have 3D fix but no GPS (N/A)accuracy note impleneted
MESSAGES

GPS_INT:
eceef_z bit high but stable (5002200 m)

alt - stable
hsml - stable

pacc - 0 m
sacc - 0 m/s
fix - 3D (stable)

INS:
ins_z goes up and up
ins_zd goes up and up

Maybe I find some time today to look in the source...

[2015-07-27 13:23] flixr commented on #1266
What exact paparazzi_version are you using?
I fixed something like that some time ago: https://github.com/paparazzi/paparazzi/commit/b7cb5fd39aecc7989003ccabdeafe059e3aa16fa
Are you sure that it is not already fixed in master/v5.5.x_testing?

[2015-07-27 14:18] OpenUAS commented on #1263
Added
...

  <section name="INS" prefix="INS_">

...

     <define name="USE_GPS_ALT" value="TRUE"/>
    <define name="VFF_R_GPS" value="0.01"/>
  </section>

...

[2015-07-27 14:26] OpenUAS commented on #1263
That "kindoff works" but I'm worried about the "Target altitude" going up before this "fix".. Will look at QNH and what not now..

[2015-07-27 14:32] EwoudSmeur commented on #1266
I merged with master on 18th of june, so I should have this commit. I forgot to check if this problem still exists in newest master, but I can do this later today.

[2015-07-27 14:33] OpenUAS opened #1267 "ARDrone2 and Bebop SONAR_MAX_RANGE not defined with default value"
If use sonar is TRUE then this is also needed and should not be:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25023880-ardrone2-and-bebop-sonar_max_range-not-defined-with-default-value?utm_campaign=plugin&utm_content=tracker%2F10895&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bou

[2015-07-27 14:35] OpenUAS commented on #1266
I experience something like this in v5.5.1_testing-0-g8756d2e-dirty If I'm not mistaken.

[2015-07-27 14:38] OpenUAS commented on #1254
Moved for a 2nd time is not really the best thing IMHO... I've assigned it to myself so we could also fix it in the lab and a "slight" promise of Piotr ;) Note that it is more for his sake than mine, I still have a bunch of Lisa MX.

[2015-07-27 14:39] OpenUAS commented on #1254
Well should I just put  a bounty on it ;)

[2015-07-27 15:18] fvantienen commented on #1263
Fixed with cc51fcfad7022112bf2c4406101c96888d215165

[2015-07-27 15:18] #1263 closed

[2015-07-27 16:31] flixr commented on #1266
Yes, plz retest in latest v5.5.1_testing-5-g84a9fcb.
I can't reproduce the issue... After `ins_reset_local_origin` (called after geo_init) the bias seems to be correctly reset here.
if you can still reproduce it, please let me know which airframe (if it is in git), otherwise with flags you have set (using sonar, gps, etc.. ?)

[2015-07-28 08:29] EwoudSmeur commented on #1266
Indeed, I don't see the problem now in master... though it is strange that in the GCS I see (before geo-init) an altitude of 8000 meter, while in rotorcraft_fp it is near zero

[2015-07-29 17:27] OpenUAS commented on #1236
Repairing, Preparing etc. some airframes

[2015-07-29 17:28] OpenUAS commented on #1113
https://github.com/paparazzi/paparazzi/pull/1270 If pull not honored, will reopen issue

[2015-07-29 17:28] #1113 closed

[2015-07-29 17:36] OpenUAS commented on #1254
move to https://github.com/paparazzi/luftboot/issues/8

[2015-07-29 17:36] #1254 closed

[2015-07-30 12:01] flixr commented on #1266
So, can we close this or do you still see some issues?

[2015-07-31 11:53] flixr commented on #1186
Should be fixed with https://github.com/paparazzi/paparazzi/pull/1276

[2015-08-02 21:03] flixr opened #1278 "Link does not send LINK_REPORT"
The `LINK_REPORT` message doesn't seem to be sent by link and hence the link is not properly updated/displayed in the GCS.

The `send_status_msg` callback that is supposed to send this seems to raise an exception:
```(process:22635): LablGTK-CRITICAL **: GSourceFunc: callback raised an exception```

Printing the exception:
```Scanf.Scan_failure("format read '%Lu' does not match specification '%d'"

[2015-08-03 12:23] EwoudSmeur opened #1281 "Since global waypoints update drones fly aat 45 meters"
There has been a long lasting issue with drones flying in the roof of our optitrack arena. I looked into it today and what happens is that waypoints that are defined with lat/lon have an altitude offset of 45 meters.

All waypoints have similar values in WAYPOINTS_ENU and WAYPOINTS_LLA, but the difference is their respective WAYPOINTS_GLOBAL flag. Waypoints that are defined relative with WAYPOINTS

[2015-08-03 12:42] flixr commented on #888
@OpenUAS Unless someone steps up to make the airframe files nicer NOW, can we close this, or at least remove the v5.6 milestone?

[2015-08-03 13:02] flixr commented on #1281
I don't quite understand...
The whole point of using global waypoints is to - well - have global coordinates for those. So the lat/lon/alt is global and will not change if with your local reference.

Could you please describe this in more detail, like how did you define the waypoints (do they use the default flight plan alt, have alt explicitly set or use height?).

[2015-08-03 13:18] EwoudSmeur commented on #1281
If I set alt, what i get is alt +45. If I do nothing, I get alt +45 (irrespective of ground_alt).

I am sure that is the point of global coordinates, but I don't know who expects this... I am pretty sure **none** of the students in Delft expected this, as we have been getting drones out of the flight arena roof on a regular basis.

[2015-08-03 13:20] EwoudSmeur commented on #1281
What I mean is: I am not expecting to get global coordinates. When I put in an altitude, how am I supposed to know that 45 meters will be added?

[2015-08-03 13:22] flixr commented on #1281
I guess you are seeing the difference between altitude above MSL and above the WGS84 ellipsoid.

What you set in the flight plan is altitude above MSL...

[2015-08-03 14:49] #1278 closed

[2015-08-03 16:32] flixr commented on #1281
This seems to be a problem with optitrack/natnet that sends the same values for GPS alt (above WGS84 ellipsoid) and hmsl (height above mean sea level).

[2015-08-03 16:56] flixr commented on #1281
Can we close this with the merge of #1284 then?

[2015-08-03 17:34] #1281 closed

[2015-08-04 18:34] masierra opened #1288 "[GCS] not updating map/ground speed when fix is not 3D"
Trying to have the gps system recognize higher levels of gps fix and assigning them higher values than 3. I am not exactly sure what is stopping the GCS from updating the map or ground speed when gps mode != 3D.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25366623-gcs-not-updating-map-ground-speed-when-fix-is-not-3d?utm_campaign=

[2015-08-04 19:30] flixr commented on #1288
The update of the aircraft position on the map is independent of the GPS fix.
But depending on which INS filter the aircraft uses it will not update its own position without GPS fix.

In the airborne code we require a 3D GPS fix, because experience showed that when you only have a 2D fix, the position is too inaccurate even when still on the ground.

[2015-08-05 17:09] OpenUAS commented on #1288
@masierra Your focus improving and looking at details is great. I would advise to read into the matter and try to describe the exact proposed benefit and even better add a **detailed** description if what ou would lke to see improved nad if possible even start improving and if you tested it and gives better flight or flight experience post a link to your improved branch so we can start testing in

[2015-08-05 17:12] OpenUAS commented on #1258
If you fly alone, one airframe in air as intermediate solution, just stop server after a land in Paparazzi Center and restart just before takeoff. Not idea but you will get a new log

[2015-08-05 19:01] OpenUAS opened #1289 "video_usb_logger and image path incorrect"
To be able to save photoshots, to USB stick while flying ARDRone2 autonomous the image save path must be able to be set and is not working. hint: STRINGYFY adds Double quotes

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25411255-video_usb_logger-and-image-path-incorrect?utm_campaign=plugin&utm_content=tracker%2F10895&utm_medium=is

[2015-08-05 19:01] OpenUAS commented on #1289
Major since it defeats a little the purpose of the module if not working ;)

[2015-08-05 22:52] fvantienen commented on #1289
This module is working fine without it, next to that almost nobody uses this module. I think it is a major problem that we have major labels..
But next to that I was going to push this fix so maybe there wasn't even the need to add an issue for this, as I already fixed it..

[2015-08-05 23:04] #1289 closed

[2015-08-06 23:37] masierra commented on #1288
I'm currently working at Transition Robotics to implement Ardupilot-esque support for running multiple gps units simultaneously. We've been looking at Piksi RTK units which report not only a 3D fix but also two different RTK fixes as well.

We found that while Piksis perform great once they have RTK, they take a bit to establish fix and they can loose fix as well.  For this, I am trying to use a u

[2015-08-09 19:42] devyeshtandon opened #1295 "ARDrone2: flight recorder GPS not working"
The Flight Recorder GPS does not show 3D fix even after editing (airframes/examples/ardrone2.xml) the protocol to sirf and removing the gps_ubx_ucenter module from the modules loading block.

Do we have to run it at 57600 baud or change the baud rate as well?

![image](https://cloud.githubusercontent.com/assets/6142989/9168999/6747037e-3f77-11e5-9315-fdd1a178618d.png)

<bountysource-plugin>
---
Wa

[2015-08-10 11:38] fvantienen opened #1296 "Linux UART driver crashes"
The UART driver crashes when it tries to open a tty device that doesn't exist.
I gets an index out of bounds exception, but it is because the ```serial_port_open_raw``` fails and gives an error back and the thread isn't informed about that.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25594577-linux-uart-driver-crashes?utm_campaig

[2015-08-12 13:23] #1296 closed

[2015-08-12 14:48] flixr commented on #888
feedback timeout, removing from milestone
will be assumed ok and closed without further feedback soon...

[2015-08-17 15:47] #600 closed

[2015-08-18 15:46] OpenUAS opened #1306 "A.R.Drone 2.0 program.elf.respawner.sh and program.elf process not killed in time"
Using PPRZ version: v5.6.0_stable-2-g7ce6e8a after an upload of default ardrone2 example the main ap.elf process starts but before these processes are killed:

* /bin/sh /bin/program.elf.respawner.sh -360p.slices 0 -live.tcp
* /bin/program.elf -360p.slices

Manually via telnet killing the processes and restarting the ap.elf all is OK
Using v5.5.2_testing ( 609d3a0) this behaviour was not observed.

[2015-08-18 15:50] OpenUAS commented on #1288
Thx for explaining in detail, now it is clear and also the benefit is obvious :+1:

[2015-08-18 17:13] OpenUAS commented on #1306
Message to self: in mcu_arch_init() the board_init() is after threaded inits and for ARDRone2, default Processes must be killed first(bettereven gracefully)

[2015-08-18 19:31] flixr commented on #1306
thx, fixed with #1307

[2015-08-18 19:31] #1306 closed

[2015-08-24 08:16] #1266 closed

[2015-08-25 08:34] flixr commented on #1295
@OpenUAS @fvantienen could you guys plz test this?

[2015-08-25 16:27] OpenUAS commented on #1295
Yes, will do.

[2015-08-25 16:50] OpenUAS commented on #1295
---[ end trace b38fe2281818d79d ]---
Enabling CTS wakeup for UART1
scsi 0:0:0:0: Direct-Access     Generic  Ultra HS-SD/MMC  1.76 PQ: 0 ANSI: 0
usb-storage: device scan complete
sd 0:0:0:0: [sda] 7733248 512-byte logical blocks: (3.95 GB/3.68 GiB)
sd 0:0:0:0: [sda] Write Protect is off
sd 0:0:0:0: [sda] Mode Sense: 23 00 00 00
sd 0:0:0:0: [sda] Assuming drive cache: write through
sd 0:0:0:0: [sda]

[2015-08-25 17:39] flixr commented on #1295
@OpenUAS wut?? ublox gps is not working in v5.6 but in v5.7? I can hardly believe that since there are no relevant changes...
Can you plz provide the exact version where it is not working?

[2015-08-25 17:48] podhrmic commented on #1184
A quick update - I have a working HITL in C++ (it uses Boost) and just as a demo I would like to integrate it into the Paparazzi build process (so you can compile the target the same way as NPS). I am looking into using it as another target under *fixedwing* firmware, but not sure if it is the best option.

[2015-08-25 17:52] flixr commented on #1184
Ah, cool... do you have that pushed somewhere already?
Also what parts of boost are you actually using? If it's only stuff that is available in C++11 then I would strongly advocate to ditch boost and use C++11!

[2015-08-25 17:53] podhrmic commented on #1183
Update - the current NPS actually allows the external INS to be used in a reasonably manner, so I marked it as resolved. As far as hardcoding sensors - from user experience it provides all what I needed at this point, so I marked it as resolved too.

Only question is whether to refactor it into C++ which would be nice, but at this point probably not very important.

[2015-08-25 17:54] podhrmic commented on #1183
@flixr shall we close this issue?

[2015-08-25 17:58] podhrmic commented on #1184
Not pushed it yet, trying to figure out the integration with Paparazzi center first (so you can compile it with your airframe).

I am using:
[code]

And yes, it is C++11 (boost 1.54 I believe)

[2015-08-25 18:16] flixr commented on #1183
I'm fine with closing it...

[2015-08-25 18:25] flixr commented on #1184
What I mean is that using C++11 features you can probably replace most (all?) of your usages of boost by things now in the standard library, e.g. thread, shared/smart pointers, bind...

[2015-08-25 18:32] devyeshtandon commented on #1295
@OpenUAS, using paparazzi ver 5.6..
Can anyone enlighten me what is ATM and how do we generate it? Also, how do we find where the exact flaw is?

[2015-08-25 18:38] #1183 closed

[2015-08-25 19:02] flixr commented on #1295
@devyeshtandon can you plz provide the exact version you are using?
https://wiki.paparazziuav.org/wiki/FAQ#How_do_I_check_which_Paparazzi_Version_I.27m_using

[2015-08-25 19:13] devyeshtandon commented on #1295
v5.5.1_testing-0-g8756d2e-dirty

[2015-08-25 19:25] OpenUAS commented on #1295
@devyeshtandon ATM = AT This Moment.  :)

[2015-08-25 19:27] OpenUAS commented on #1295
@flixr Will do a retest 5.6 tommorrow, will now focus on SIFT ,  sirf_parse_char is reached however c= 0xA0 never reached exept just before I press a second time CTRL-C a quick n dirty Printf gave

...

^Cc == 0xA0 - c == 0xA0 - c == 0xA0 - Received SIGINT
Press Ctrl-C again to stop the program
^CReceived SIGINT
Leaving now

...

[2015-08-25 19:36] flixr commented on #1295
@devyeshtandon thx... you should update to the v5.6 stable branch in any case...

[2015-08-25 20:04] flixr opened #1312 "viewvideo: netcat option is broken"
The `VIEWVIDEO_USE_NETCAT` option of the `viewvideo_rtp_stream` module is broken, it doesn't even compile...

Plz either fix it or we remove it completely...

See also #1293

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26173289-viewvideo-netcat-option-is-broken?utm_campaign=plugin&utm_content=tracker%2F10895&utm_medium=issues&utm_

[2015-08-26 08:17] gautierhattenberger commented on #1312
This was actually my doing for last imav. I'll have a look.

[2015-08-28 18:48] hooperfly opened #1320 "Multi-Aircraft Support for Binding Keys/Papget Buttons [$5]"
# Current Capabilty

Currently any individual _flight plan_ can bind a keyboard `key` to a given flight block action. For example:

[code]

Reference wiki:   http://wiki.paparazziuav.org/wiki/Flight_Plans#Blocks

This works for only a single aircraft and is limited to _flight plan_ `blocks`.
# Proposed Extensions/Enhancements

It would be nice to extend the `papget` feature to allow `key` bindings

[2015-09-04 07:14] dewagter opened #1331 "Paparazzi Center: On BUILD the list of settings should be updated"
When a module is changed in the airframe file, one needs to manually change to another airframe and back in the list of airframes, or restart paparazzi center in order for the correct settings to be listed.

When changing/removing a module which has settings in an airframe file, and then clicking build/upload, it compiles the module-settings of the modules that were previously in the list and the

[2015-09-04 09:27] flixr commented on #881
FYI, I started to make board files, etc. for the px4fmu v2 (aka pixhawk), see px4fmu_v2.4 branch...

[2015-09-07 06:38] dewagter opened #1335 "natnet2ivy integer truncated"
@fvantienen

natnet2ivy.c: In function ‘sample_data’:
natnet2ivy.c:575:3: warning: large integer implicitly truncated to unsigned type [-Woverflow]
   bytes_data += udp_socket_recv(&natnet_data, buffer_data, MAX_PACKETSIZE);
   ^

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26495774-natnet2ivy-integer-truncated?utm_campaign=plugin

[2015-09-07 15:31] dewagter opened #1338 "bluegiga has sufficient buffer space for an entire message?"
@kirkscheper

failed to debug this error. since current code did not work it was reset to TRUE

https://github.com/paparazzi/paparazzi/commit/83c2c1a7d0bd7d3bb6e85e2d35f374e7bc105065

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26507231-bluegiga-has-sufficient-buffer-space-for-an-entire-message?utm_campaign=plugin&utm_content=trac

[2015-09-12 16:01] flixr opened #1344 "server: doesn't send DL_VALUES if there are a lot of settings"
When you add more settings, at some point server doesn't send DL_VALUES anymore with
`Discarding long ivy message DL_VALUES (1240 bytes)`

What is this Ivy bug the limit of 1000 chars in `message_send` in pprz.ml is supposed to prevent?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26637636-server-doesn-t-send-dl_values-if-there-ar

[2015-09-17 23:06] podhrmic commented on #1184
please see #1360 for an actual commit

[2015-09-20 14:52] flixr commented on #974
Added `test_all_confs` make target in 5c9a42bab44aa430c1c1c8d43b1b88bbf4f56971.
This make target will try to find all confs and build all aircrafts/targets in there...
It is now used in a scheduled nightly build on https://semaphoreci.com/paparazziuav/paparazzi as travis doesn't support scheduled builds...

[2015-09-21 14:26] flixr commented on #974
While not all aircrafts/targets in all confs build, the infrastructure is there and will be built nightly... so closing this...

[2015-09-21 14:26] #974 closed

[2015-09-21 15:58] flixr commented on #1344
@gautierhattenberger @alex31 any idea why there is this limitation?

[2015-09-21 16:22] gautierhattenberger commented on #1344
Actually, Ivy should support long messages since 2008, but Pascal added this check in 2009. We should try to remove it and see because their is no reasons to keep it from what I can see.

[2015-09-21 16:49] flixr commented on #1331
@gautierhattenberger any idea on how to reload the config by calling update_params (part of the ac_combo_handler closure) from the build_handler?

[2015-09-22 08:52] gautierhattenberger commented on #1331
see `reload_on_build` branch

[2015-09-22 11:26] dewagter commented on #1331
Wow, that's a lot of code ;-)

[2015-09-22 11:29] gautierhattenberger commented on #1331
yeah, I think we can add the upload button without too much work if you really want :p

[2015-09-22 11:32] flixr commented on #1331
Lol, I clearly didn't have enough sleep when I added the refresh button and tried to connect it to the build button as well (and somehow failed)...

closed with 2843a415d6a9bf1a87134e5445f7f3686f174876

[2015-09-22 11:34] flixr commented on #1331
Ahrg, ok... maybe I did have enough sleep after all...

[2015-09-22 11:35] flixr commented on #1331
The problem doing it this way is that the build starts before the config is reloaded... that is why I thought it needs to be integrated in the build_handler or somewhere like that...

[2015-09-22 11:37] gautierhattenberger commented on #1331
do you have an idea of the order of the callbacks in GTK ?

[2015-09-22 11:39] flixr commented on #1331
no idea, but it doesn't work like this...
And IMHO the only proper solution to guarantee this is to add the refresh in the build button callback...

[2015-09-22 11:47] gautierhattenberger commented on #1331
I'll try, but from what I see, it should work, they are called in register order

[2015-09-22 11:48] flixr commented on #1331
Actually it seems that even using the reload button, it doesn't always work:
Steps to reproduce:
- e.g. take the bebop.xml and remove the air_data module
- click reload and then build

While it reloads the conf and displays it correctly in paparazzi center, this doesn't update the settings in the conf which is used to generated the settings header, that still only happens when changing the airfram

[2015-09-22 12:32] gautierhattenberger commented on #1331
updated in `reload_on_build` branch.
it updates the display and save the conf as well.
the callbacks order is correct.

[2015-09-22 12:40] flixr commented on #1331
Thx, seems to work now, pushed to master and also added the reload on upload.

Seems we can now really close this with bf5c3ce58bb183cb8c351e326f59f274648890c1 and 5659d82c887c8c7c05de8c209167ebb58cedc46f

[2015-09-22 12:40] #1331 closed

[2015-09-22 13:12] flixr commented on #1344
So what is the maximum length now?
I guess it would still make sense to prevent endlessly long messages?

[2015-09-22 13:16] gautierhattenberger commented on #1344
there is an initial malloc and a realloc if needed, so I guess the limit is the available memory... but yes, limiting stupidly long message is probably wise
the initial alloc is around 4000 bytes I think.

[2015-09-22 13:22] flixr commented on #1344
So we limit it to 4000 or 10000 or so?

[2015-09-23 13:18] #1236 closed

[2015-09-23 13:25] flixr commented on #907
@OpenUAS As you can specify the name of the JSBSim model to use in your airframe file I don't see the issue here.
At the time of writing this issue, was it just not clear that you can set this or is there some remaining issue that you see?
If not I would like to close this issue.

[2015-09-23 13:27] #888 closed

[2015-09-25 14:22] #1344 closed

[2015-09-25 14:22] gautierhattenberger commented on #1344
tested and working

[2015-09-28 21:12] tcunis opened #1368 "Absolute waypoints get lost by aircraft build (both ap & nps)"
Using v5.7_devel build, building an airframe for target ap or nps dismisses waypoints defined absolutely in flight-plan xml:
For instance,
[code]
(AC_flightplan.xml) becomes
[code]
and so forth (*aircrafts/AC/(ap|nps)/generated/flight_plan.h*).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27012992-absolute-waypoints-get-lost-by-ai

[2015-09-29 09:48] kirkscheper commented on #1338
@dewagter should be fixed with #1365

[2015-09-29 11:10] #1338 closed

[2015-09-29 12:35] flixr commented on #1368
Hi @tcunis

I don't think there any issue here. I would bet that your waypoint p1 has the same coordinates as your flight plan (lat0, lon0).
`WAYPOINTS` and `WAYPOINTS_ENU` contain the local coordinates (in UTM and ENUrelative to your flight plan location.
`WAYPOINTS_LLA` contain the same waypoints in absolute (LLA) coordinates.

If you still found a problem, could you please provide more details?

[2015-09-29 12:38] tcunis commented on #1368
Hey @flixr ,
no, it doesn't. There are couple of waypoints encircling the flight-plan center which are generated to (0,0).

[2015-09-29 12:39] flixr commented on #1368
Ok, can you then plz provide more details so we can reproduce it?

[2015-09-29 13:34] #1368 closed

[2015-09-29 13:35] flixr commented on #1368
Thx for reporting, I think I found it :-)

[2015-09-29 14:34] tcunis commented on #1368
Yet I've just got the detail files out of the virtual machine... For some reason, I cannot upload any files to github.com.

If only for completeness:

v5.7_devel-326-ga776aac

[2015-10-05 12:53] kirkscheper commented on #326
@flixr is this fixed with #1371. If not can you give a short description what you want and I can take a look at this and test with the Lisa/s w/ bluetooth on spi slave.

[2015-10-05 17:32] flixr commented on #326
Some things that come to mind:
- only implemented for F1, not for F4
- not implemented for all SPI devices (SPI3 missing)
- NSS pin handling only for SPI2 or any other slave select handling

[2015-10-05 19:22] kirkscheper commented on #326
OK, well I can take a look at these. I will think of a simple way to test these with the same bluetooth module (the only slave device I have) to make sure the code works.

[2015-10-05 22:35] dewagter commented on #326
Maybe we can put a bluetooth dongle on a lisaM / Mx to test F1/F4.

Testing SPI slave on SPI1 will not be easy with the aspirin on the NSS pin
however.

To test SPI slave with slave select we also have CHIMU. @openuas might be
able to help here.
On Oct 5, 2015 9:22 PM, "Kirk Scheper" <notifications@github.com> wrote:

[2015-10-09 08:53] gautierhattenberger opened #1381 "pprzcenter autoload issue"
The automatic re-loading of conf seems to have some side effects:
- the flash mode is reset to default each time the upload button is pressed, so you can't really use it anymore
- if an airframe file is missing or corrupted, the flight plan file is not displayed either (it was the case before) but when changing back to another valid aircraft, it keeps failing for these two files

<bountysource-plu

[2015-10-09 11:18] flixr commented on #1381
The flash mode should be fixed, @gautierhattenberger could you plz take a look at the second problem?

[2015-10-10 23:39] #1381 closed

[2015-10-13 19:12] flixr commented on #881
See also #1384

[2015-10-14 16:13] flixr commented on #1288
@masierra Since #1349 was merged we have additional DGPS and RTK fix modes for GPS, so is this still an issue or can we close this?

[2015-10-14 22:44] OpenUAS commented on #1312
It's was used and to be honest quite useful...

[2015-10-14 22:47] OpenUAS commented on #1295
Can retest, not that I like the dongle so much but before ARDrone2 is obsolete like to have essential fixed one and for all. Then after frontcam support for bebob, ARdrone2 is likely not used nor changed all to much anymore...

[2015-10-14 22:59] OpenUAS commented on #326
OK, I'll rip the CHIIMU from the Moska airframe (not trivial) after at least one testflight with it.

[2015-10-15 07:24] kirkscheper commented on #326
Hey Eric, I thought we discussed this and decided not to bother with the
CHIMU... I will find a different solution. No worries.

On 15/10/15 00:59, OpenUAS wrote:

[2015-10-15 11:56] OpenUAS commented on #892
Will test.

[2015-10-15 11:57] OpenUAS commented on #892
Will test for fixedwing

[2015-10-15 11:58] flixr commented on #892
Could you plz not remove the "incomplete" labels until we have an actual description of the issue...

[2015-10-15 12:02] OpenUAS commented on #1005
* Can ;) do FBW - AP testing over can with two Lisa/Mv2 if useful.
* Also can perform a can test on other device I'll then buy, no clue what yet

[2015-10-19 13:54] knmcguire opened #1387 "Opticflow velocity direct to stabilization control loop"
In paparazzi, the optical flow module calculates the estimated velocity with the bottom camera and sends this to a special guidance hover module with a separate controller. However I don't think this fits within the structure of paparazzi.

Wouldn't it be better to send the velocity estimate to the general Kalman filter, so the lower, stabilization control loop can handle the hover part? I think t

[2015-10-19 15:35] gautierhattenberger commented on #1387
Sure, we need to do something like that. The opticflow was experimental and we now need to properly publish its data to the system so that filter can use it if needed.
Help is always welcome :)

[2015-10-19 15:41] knmcguire commented on #1387
I will try to look into it too. I know how the optical flow module is structured however I have to look how on for instance how I can send these values to the filter the right way. Might need a bit of help with that.

[2015-10-19 16:38] gautierhattenberger commented on #1387
The internal communication should use http://wiki.paparazziuav.org/wiki/Abi. You can also have a look at the global architecture http://wiki.paparazziuav.org/wiki/DevGuide/DesignOverview#Airborne_Functional_Diagram.
The AHRS/INS are already using the mechanism to get IMU and GPS data.

[2015-10-19 21:07] flixr commented on #1387
In master the `OPTICAL_FLOW` and `VELOCITY_ESTIMATE` ABI messages are already published (see #1350).
So basically subscribe to the VELOCITY_ESTIMATE message in the filter.... maybe we need to include some sort of confidence/covariance fields as well...

[2015-10-28 18:09] flixr commented on #1288
@masierra so this can be closed then after your fixes from https://github.com/paparazzi/paparazzi/pull/1386 ?

[2015-10-28 18:40] flixr commented on #204
Do we still need to keep this open?
Are there any C progs around that don't allow to change the ivy bus (and have a working default on OSX)?
@esden @hooperfly could you chip in here?

[2015-10-28 18:44] flixr commented on #1267
So what should be the default values for ARDrone2 and Bebop?

[2015-10-28 23:54] hooperfly commented on #204
@flixr @esden I haven't probed into each of these file but here's a list of files that call IvyStart. You can see there are quite a few calls with fixed/static arguments:

[code]

[2015-10-29 00:11] hooperfly opened #1395 "GCS - Papgets not visible on GCS screen : Mac OS X El Capitan"
It seems that the homebrew gtk library now runs natively on Mac OS X as of El Capitan. As a result, `papgets` are not visible on the GCS but they are active. The place/location where a given papget is placed will activate the appropriate action when pressed but the `papaget` icon is not visible.

Screen capture of GCS using GTK+ Quartz library under El Capitan( papgets not showing )

<img width="1

[2015-10-29 00:21] hooperfly opened #1396 "GCS - Google Maps not loading - Mac OS X El Capitan"
Google maps views are not being displayed in the GCS using the GTK+ Quartz library in tandem with Mac OS X El Capitan.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27786261-gcs-google-maps-not-loading-mac-os-x-el-capitan?utm_campaign=plugin&utm_content=tracker%2F10895&utm_medium=issues&utm_source=github)** We accept bounties via [B

[2015-10-29 00:27] hooperfly opened #1397 "GCS - Widge "altigraph" not displayed - Mac OS X El Capitan"
The `altigraph` widget is not visible/being displayed using the GTK+ Quartz library under Mac OS X El Capitan. The panel/view is effectively blank with no indication that the widget is working. This issues is probably related to the `papgets` display issues also encounterd in this GTK/Mac OS X configuration.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bo

[2015-10-29 01:02] hooperfly opened #1398 "GCS - Screen refresh flashing during resizing of windows - Mac OS X El Capitan"
When resizing the GCS windows/panels or zooming in and out, the window backgrounds flash as well and display artifacts related to movement. Interacting with the window frame is sluggish.

Screen capture of background flashing:
<img width="643" alt="screen shot 2015-10-28 at 6 00 06 pm" src="https://cloud.githubusercontent.com/assets/10355071/10807519/dbcb2bb2-7d9d-11e5-8154-2342e602667a.png">

Scr

[2015-10-29 03:00] hooperfly commented on #1395
It looks like there were quite a few changes to papgets related code on Sept. 27th. This could be related to those changes as well.

https://github.com/paparazzi/paparazzi/search?utf8=%E2%9C%93&q=papget

[2015-10-29 16:47] #1288 closed

[2015-11-01 20:36] hooperfly commented on #1396
After many hours of poking around various mail threads related to gtk+, cairo, ocaml, libgnomecanvas and issues related to Mac OS X El Capitan, it seems this issue might be related to bugs in El Capitan. There were many "under the hood" changes to "improve" performance with El Capitan and it seems it's fairly buggy. Stay tuned....

[2015-11-01 20:43] OpenUAS commented on #1396
Hats off for your investigation, appriciated!

[2015-11-02 02:04] hooperfly commented on #1396
Decided to become a Beta tester for Mac OS X so we can get early releases of updates as well as the ability to give feedback to Apple about the issues. Downloading 10.11.2 Beta as I type this message. More to come.....

[2015-11-03 21:28] flixr commented on #1295
Shall we drop support for the flight recorder?
Unless actually has an ARDrone2 with FlightRecorder and is willing to fix this, we should probably close this as WONT_FIX and removing the code for this (as it currently doesn't work).

[2015-11-03 21:30] fvantienen commented on #1267
It should be +/-4m for both

[2015-11-03 21:33] flixr commented on #1006
Do we need to keep this open? At least the current state is documented...
@dewagter what do you think?

[2015-11-03 21:49] #892 closed

[2015-11-03 21:53] flixr commented on #891
Can't reproduce it... or I don't understand the issue...

[2015-11-03 21:55] gautierhattenberger commented on #887
We agree it is an issue but it is a "won't fix" for now.

[2015-11-03 21:56] flixr commented on #883
Not specific enough, closing...
Most modules are documented ok... but of course can still be improved in most cases... just doesn't warrant such a generic issue.

[2015-11-03 21:56] #883 closed

[2015-11-03 22:06] flixr commented on #793
Issue known, but worked around in all known cases...
Still possible issues with unsigned 64bit ints, but these are not used right now...
@gautierhattenberger doesn't have the time to work on this to make it clean, so closing this as WONT_FIX

[2015-11-03 22:06] #793 closed

[2015-11-03 22:07] flixr commented on #593
I never use this, so I have no clue how reliable it is...

[2015-11-03 22:11] fvantienen commented on #765
Timed out, not sure if still a problem

[2015-11-03 22:11] #765 closed

[2015-11-03 22:13] flixr commented on #593
If someone encounters this problem, please provide more details...

[2015-11-03 22:19] flixr commented on #404
@agressiva so you are basically missing a menu in the GCS to load a KML sector for display only, right?

[2015-11-03 22:35] flixr commented on #207
@dewagter should we still keep this open? I mean it works as is...

[2015-11-03 22:44] flixr commented on #13
Closing this as duplicate of #119, since if mavlink is "properly" integrated it will work with QGroundControl

[2015-11-03 22:44] #13 closed

[2015-11-04 08:21] devyeshtandon commented on #1295
I have both of them and I am willing to fix this issue, but I am not sure how to go about it. I am afraid, I have never worked on such kind of thing before.

[2015-11-04 08:45] dewagter commented on #1295
We did not implement it because the GPS is not very good. We recommend
ublox.
On Nov 4, 2015 9:21 AM, "Devyesh Tandon" <notifications@github.com> wrote:

[2015-11-04 08:47] dewagter commented on #13
Until then use mavlink-ivy-interface.

github.com/mavlink/
On Nov 3, 2015 11:44 PM, "Felix Ruess" <notifications@github.com> wrote:

[2015-11-04 08:57] flixr commented on #1295
AFAIK it was working at some point... but if you can, definitely use a ublox instead...

[2015-11-04 09:01] flixr commented on #13
mavlink-ivy-interface has even less functionality than our current mavlink module (which already works with QGroundControl, just doesn't provide all of the messages you might want, no mission interface, etc)....

[2015-11-04 09:03] flixr commented on #119
@LodewijkSikkel you worked on improving the current mavlink module, what is the status on that?

[2015-11-04 09:11] flixr commented on #1387
@knmcguire are you working on integrating the velocity estimate from the optic flow into the INS?
Need any help?

[2015-11-04 09:37] LodewijkSikkel commented on #119
Almost done, we’ve integrated the bluetooth and UDP stuff in the old module, such that we can write bytes over pprz transport as always. I’ve have to rewrite the messages to be send though, but I expect to be able to do that this week.

On 04 Nov 2015, at 10:03, Felix Ruess <notifications@github.com<mailto:notifications@github.com>> wrote:

@LodewijkSikkel<https://github.com/LodewijkSikkel> you wo

[2015-11-04 10:33] flixr commented on #119
Ok, great!
But UDP is working fine in the current version...

[2015-11-04 12:34] dewagter opened #1402 "Semaphore error listing should show the conf/airframe/target failing"
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27959515-semaphore-error-listing-should-show-the-conf-airframe-target-failing?utm_campaign=plugin&utm_content=tracker%2F10895&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F10895&utm_med

[2015-11-04 12:45] flixr commented on #1402
I assume you mean when the scheduler built all confs?
It shows the confs which failed at the end, but there is no immediately easy way to show a summary of which aircrafts failed.

If you want to have a go at this, look at the `test_all_confs` target in the main Makefile.

[2015-11-04 13:04] dewagter commented on #207
no, don't keep open.

In the end I think fixedwing should go into rotorcraft so we only have 1
firmware. Only some nav functions are still missing, intermcu is now almost
in rotorcraft ...

-Christophe

On Tue, Nov 3, 2015 at 11:35 PM, Felix Ruess <notifications@github.com>
wrote:

[2015-11-04 13:07] #207 closed

[2015-11-04 13:14] dewagter commented on #1006
I think ellipsoid / geoid is quite clear.

- relative / absolute is a problem tough
- baro/gps is also not obvious

This issue can be closed, but at some point an update an update in the
altitude would be desirable

class Altitude
{
  enum { ELLIPSOID, MEAN_SEA_LEVEL, LOCAL_AIRFIELD }
  enum { BAROMETRIC, GPS, GROUND_SENSOR }
  get() {

  }
}

-Christophe

On Tue, Nov 3, 2015 at 10:33 PM, Felix Ru

[2015-11-04 13:42] #1006 closed

[2015-11-04 17:03] #1267 closed

[2015-11-04 19:00] knmcguire commented on #1387
Hey thanks for asking. I havent had time to look into it due to preparing for a deadline. I have quickly looked in the hf_float.c file, but I couldnt find a way yet to add this to the measurement updates and where to base the noise model on. If you have suggestions about it, it's of course very welcome. But next week, when I can really focus on it, I will probably ask some questions here about it:

[2015-11-04 20:27] agressiva commented on #404
right.

[2015-11-04 20:30] agressiva commented on #593
Hi Felix, i tried to use the DFU with pixhawk but it not work.
It upload the firmware but the board not work.

To upload the firmware to pixhawk i generate a hex file then use a program to convert hex to dfu file and then upload to pixhawk using a dfu utility.

[2015-11-04 21:32] OpenUAS commented on #921
I  gave way one of my board over a TU who is involved in adding support now..

[2015-11-04 22:01] flixr commented on #921
@martinmm already has some improvements to make the firmware smaller so it can actually fit in the naze32 (and similar like the CC3D).

[2015-11-04 22:09] martinmm commented on #921
and it is running on a Naze32 already, will commit that asap

[2015-11-04 22:28] hooperfly commented on #921
That's good news. Lots of naze32's boards floating around, so to speak. Nice work.

[2015-11-04 22:31] martinmm commented on #921
Unfortunately Naze32 are only 2-layer PCBs and create a lot of noise that disturbs the GPS receiver

[2015-11-05 12:19] flixr commented on #1387
I quickly added that in the ins_velocity_estimate branch (commit 411d34e573c228364fe791ff1e746643ddfd6238).
Something like that should work, the measurement noise is a define for now, although it would be better to compute *some* covariance estimate in in the opticflow calculator and send that with the VELOCITY_ESTIMATE.

Also if you wanted to rewrite the hf (horizontal filter), please go ahead ;-

[2015-11-05 20:18] OpenUAS commented on #1209
Squeezing it in for the overnext release because of positive response and usefulness

[2015-11-06 09:18] fr4ngus opened #1408 "Compilation problem ms5611 baro spi"
I try to use the ms5611 baro but when I try to compile I have the following errors:

modules/sensors/baro_ms5611_spi.c:40:24: error: 'spi1' undeclared (first use in this function)
 #define MS5611_SPI_DEV spi1
                        ^
modules/sensors/baro_ms5611_spi.c:61:34: note: in expansion of macro 'MS5611_SPI_DEV'
   ms5611_spi_init(&baro_ms5611, &MS5611_SPI_DEV, MS5611_SLAVE_IDX, FALSE);

[2015-11-06 11:30] #1408 closed

[2015-11-06 11:31] flixr commented on #1408
`USE_SPI1` and `USE_SPI_SLAVE0` need to be defined...

This is mainly a documentation issue, but it would probably be a good idea to use the configure options to set these defines automatically like in most other modules/subsystems...

[2015-11-06 11:42] flixr opened #1410 "Not all modules use `configure` options for peripherals (SPI, UART, ..)"
All modules using peripherals that need to have `USE_x` flags set (like SPI, UART, I2C, ..) should use the `configure` options (instead of `define`) and automatically set the needed `USE_x` flags.

See also #1408

ToDo for modules:
SPI:
- [ ] baro_ms5611_spi
- [ ] ins_vn100
- [ ] osd_max7456

I2C:
- [ ] baro_bmp
- [ ] temp_temod
- [ ] ezcurrent
- [ ] airspeed_amsys
- [ ] imu_mpu9250
- [ ] baro_hca

[2015-11-09 09:43] knmcguire commented on #1387
thanks:) I just fetched the branch and looking at it right now. Probably I'll make some updates on it soon

[2015-11-09 14:02] #873 closed

[2015-11-09 16:13] gautierhattenberger commented on #889
@OpenUAS can you test with video_papget_fix branch ?

[2015-11-09 16:24] knmcguire commented on #1387
So, an update of the progress. I changed some things to your commit. I had to rotate from camera frame to body frame, and convert it from cm/s to m/s. After adding a simple quality measure to it, I was able to make it hover in AP_mode_hover_z_hold, with Horiz_loop: use_ref=false (or max_vel on 0.3). With this, and not even have to adjust the gains in the horizontal controller, it compensated for v

[2015-11-09 16:38] flixr commented on #1387
If you have a clean solution you can directly make a pull request to merge it into master, otherwise plz make a pull request to merge it into the ins_velocity_estimate branch

[2015-11-09 17:33] gautierhattenberger commented on #952
Closing this issue, remaining files won't be updated since it is too much work for stuff nobody cares about

[2015-11-09 17:33] #952 closed

[2015-11-10 22:52] #404 closed

[2015-11-11 08:11] dewagter opened #1413 "Let's use Voting for complex choices"
Test vote

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28151156-let-s-use-voting-for-complex-choices?utm_campaign=plugin&utm_content=tracker%2F10895&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F10895&utm_medium=issues&utm_source

[2015-11-11 08:11] dewagter commented on #1413
+1

[2015-11-11 12:16] #1209 closed

[2015-11-11 12:27] flixr commented on #1387
Closed with #1412

[2015-11-11 12:27] #1387 closed

[2015-11-11 12:27] flixr commented on #1413
+1

[2015-11-11 12:28] flixr commented on #1413
test  this as well :+1:

[2015-11-11 13:19] rmeertens commented on #1413
Did you consider the fact that when having more than two options there is no good voting system? Please consider Arrow's impossibility theorem:  https://en.wikipedia.org/wiki/Arrow's_impossibility_theorem

[2015-11-11 13:20] rmeertens opened #1415 "Pix4Flow not working anymore with new velocity estimation abi messages"
Easy to fix: find a way to define the noise. Assign me if you want, but know that the pix4flow module currently does not work.  Assign me if you want, but know that the pix4flow module currently does not work.

[2015-11-11 13:24] #1415 closed

[2015-11-11 13:25] flixr commented on #1413
We don't have to use it if there are more than two options....

[2015-11-11 13:26] rmeertens commented on #1415
Good enough :+1:

[2015-11-11 13:27] rmeertens commented on #1413
So in this issue we can choose for:
- voting for everything
- never voting
- only voting if there are only two options.

mmm,

[2015-11-11 13:27] flixr commented on #1415
For now, yes... still desirable to calculate variance based on current measurement somehow...

[2015-11-11 13:37] dewagter commented on #1413
If you know a system to vote for 3 or more would be nice:

a) absolutely a good idea (changing signs on spektrum transmitters)
b) no strong opinion (if it makes some people happy to have the correct sign on their transmitter display I'm ok to reverse 3 channels)
c) terribly against (I just sold hundreds of ladybirds and do not want my customers to need to change transmitter signs even if a single

[2015-11-11 18:06] hooperfly commented on #1396
Submitted a bug report to the OCaml Forge site related to `lablgtk`, Mac OS X, GTK/Quartz issues:

https://forge.ocamlcore.org/tracker/index.php?func=detail&aid=1487&group_id=1&atid=101

[2015-11-12 20:12] #1413 closed

[2015-11-13 13:05] gautierhattenberger commented on #889
up ? otherwise I'll merge it since it seems to work according to my test

[2015-11-14 19:37] flixr opened #1421 "[Docker] Access to X-Server not working on Mac"
For using Docker in Paparazzi see https://wiki.paparazziuav.org/wiki/Docker

While this works nicely on Linux, there are some issues with using this on Mac:
The https://github.com/paparazzi/paparazzi/blob/master/docker/run.sh helper script currently can't properly deal with Mac to enable access to the X-Server and forward the correct USB devices.

<bountysource-plugin>
---
Want to back this issue?

[2015-11-16 14:28] flixr commented on #1312
@gautierhattenberger would be nice if you could fix this for the v5.8 release.

[2015-11-16 14:40] flixr commented on #889
If there is no feedback from @OpenUAS, you can just merge if it works for you...

[2015-11-16 18:04] flixr commented on #921
@martinmm any progess on this front?

[2015-11-16 23:19] #1410 closed

[2015-11-17 16:45] #889 closed

[2015-11-18 14:55] coppolam opened #1428 "Fresh Install compile error"
Command line output when using "make" after "make clean".

------------------------------------------------------------
Building Paparazzi version v5.7_devel-597-g2258100
------------------------------------------------------------
make -C data/maps
mkdir /home/mario/paparazzi/nexport/conf/maps_data
mkdir: cannot create directory ‘/home/mario/paparazzi/nexport/conf/maps_data’: No such file or dire

[2015-11-18 15:26] flixr commented on #1428
Seems like you have exported `PAPARAZZI_SRC` and/or `PAPARAZZI_HOME` incorrectly.
Either remove these env variables or set them correctly.

[2015-11-18 23:00] #1421 closed

[2015-11-19 16:42] OpenUAS commented on #1428
May bad, open a terminal window then

$ nano ~/.bashrc

Look for PAPARAZZI_SRC and PAPARAZZI_HOME and correct the directories found there.

When correct will look like

 export PAPARAZZI_HOME=~/paparazzi
 export PAPARAZZI_SRC=~/paparazz

[2015-11-19 16:43] #1428 closed

[2015-11-20 10:34] OpenUAS commented on #1396
Thx, the other no screen redraw issue you've posted likely related

[2015-11-20 10:36] OpenUAS commented on #1397
Likely depends on a fix in GTK lib icw Ocaml, therfore fix not to be expected befor a 5.8 release, sorry

[2015-11-20 13:47] EwoudSmeur opened #1430 "GCS fails to show the correct location if a wrong flight plan is selected"
When I upload the dummy flight plan when I am in Delft, the GCS shows a wrong location in the GCS, both in the maps section as well as the latitude and longitude in the top right part of the screen.

When I upload a flight plan with lat0 and lon0 in delft and a geo_init, I don't have this problem.

In both cases I have a GPS 3D fix and telemetry set to default. The GPS location is sent to the grou

[2015-11-20 16:03] flixr commented on #1430
This is expected.... unless you do a geo init, the initial location well be the lat0/lon0 specified in the flight plan (if `USE_INS_NAV_INIT` is TRUE, which is the default).

Since the dummy flight plan doesn't have a geo_init, it will never set another origin...

Or am I misunderstanding your problem?

[2015-11-20 16:59] OpenUAS opened #1432 "Rotorcraft FBW cannot fly it in sim"
As a user I'll like to fly extra safe and use FBW, but I cannot sim the flight fully and I do want to use NPS.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28463138-rotorcraft-fbw-cannot-fly-it-in-sim?utm_campaign=plugin&utm_content=tracker%2F10895&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https:

[2015-11-20 17:00] EwoudSmeur commented on #1430
Shouldn't the gcs show the correct position regardless of what you fill in in the flight plan if there is gps available? I mean... the value is there, why take something out of the flight plan?

[2015-11-20 17:09] OpenUAS commented on #1295
Assigned to self since there still will be people in next years want to try PPRZ with this thing, and it is jst out of curiosity if it is at all possible to fly from A to B with it.  I will more be like a Christmas time type of thing to work on a bit. So no deadline yet.. but plz leave issue open till spring.

[2015-11-20 17:23] OpenUAS commented on #1201
I recall I've seen this issue also.
Action: Will retest if #161 is related and fixes it.

[2015-11-20 17:26] OpenUAS commented on #1167
Lets say 800x600 is our minimum?(or 640x480 then we can go from there to define what "fixed means". Ye in the past I'v tested it on a RPi with touch 320x240 indeed problematic ;)

[2015-11-20 17:30] OpenUAS commented on #1163
Any new insights @fvantienen , if so plz assign it to milestone 5.8 if it is feasable else v6.0, but that would be less fun ;)

[2015-11-20 17:37] OpenUAS commented on #1085
OK, it still in issue history after all.

[2015-11-20 17:37] #1085 closed

[2015-11-20 20:06] gautierhattenberger commented on #1430
The mapCanvas object that holds the 2D map of the GPS needs to be initialized with a reference position at some point. I have no idea how difficult it would be to change that, and if it is really a problem after all. A few elements (handled by the server) also need a reference since they are sent with local coordinates by the aircraft.
The source of the issue is most likely the fact that the airbo

[2015-11-21 12:00] dewagter commented on #1432
You can simulate a quadcopter (rotorcraft_mixin) but not a helicopter
(pwm_direct).

But this is not related to FBW, unless your point is to simulate the
intermcu subsystem.

-Christophe

On Fri, Nov 20, 2015 at 5:59 PM, OpenUAS <notifications@github.com> wrote:

[2015-11-21 17:46] flixr commented on #1430
Would like to add:
The GCS doesn't show the exactly GPS position, the GPS messages is mainly sent for information/debug purposes (and the timestamp).
The message that is used to display position is [ROTORCRAFT_FP](http://docs.paparazziuav.org/latest/paparazzi_messages.html#ROTORCRAFT_FP), which contains the position from the state interface.
The position in the state interface is set by the chosen

[2015-11-21 18:09] flixr opened #1435 "[python] messages/settings not working with wxgtk3.0"
From message app:

Which looks like API inconsistencies...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28499043-python-messages-settings-not-working-with-wxgtk3-0?utm_campaign=plugin&utm_content=tracker%2F10895&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=

[2015-11-22 17:28] flixr commented on #119
Closing this as we already have (a basic) mavlink module, which was further improved in #1422.
Of course more functionality can be added...

[2015-11-22 17:28] #119 closed

[2015-11-22 17:30] flixr commented on #326
Closing this as it works at least for the F1.

[2015-11-22 17:30] #326 closed

[2015-11-22 17:31] flixr opened #1436 "support SPI slave mode on STM32F4"
Only implemented for F1 at the moment....
See also #326

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28515530-support-spi-slave-mode-on-stm32f4?utm_campaign=plugin&utm_content=tracker%2F10895&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=t

[2015-11-22 17:31] flixr commented on #1335
@fvantienen would be great if you could fix this before the v5.8 release...

[2015-11-22 20:15] dewagter commented on #1163
- GPU is supported, but what do you want to run on the GPU?
 - ISP and H264 require quite some library files.

[2015-11-23 08:42] dewagter commented on #1201
Dear Eduardo,

Sorry to hear about the crashes. The proper handling of saturations is very
complex in multicopters (as it is not obvious when a certain motor
saturates, which command is "most" responsible and should be reduced). This
is being investigated.

In the mean time there might be a workaround: namely to significantly
reduce the max yaw rate and yaw acceleration in the reference model. Thi

[2015-11-23 08:46] garciafa commented on #1435
Here is the other error type for the messages app :

For the setting app, here are the errors :

[2015-11-23 09:21] kirkscheper commented on #1436
Have code for this at https://github.com/kirkscheper/paparazzi/tree/spi_slave.

Waiting for some hardware to come in to test this before pushing.

[2015-11-23 10:57] flixr commented on #1435
thx @garciafa, can you please test the wxgtk3_fixes branch from #1438 ?

[2015-11-23 14:58] OpenUAS commented on #1432
Was this not then the open issue that needed to be fixed if intermcu pull request was honoured?, If issue to fix was misunderstood please close this issue.

[2015-11-23 15:23] OpenUAS commented on #1436
Hardware supplied :)

[2015-11-23 16:13] flixr commented on #1312
Should be fixed with #1426

[2015-11-23 16:13] #1312 closed

[2015-11-23 16:16] flixr commented on #1167
The problem is not choosing a min size... some columns can be made infinitely small. But the right column with target/flashmode/settings drop downs and buttons can't be made small enough.
Not sure how to fix that...

[2015-11-24 04:17] hooperfly commented on #1167
We could emulate, to some degree, how modern website UI degrades on various device(i.e. a full screen browser on a computer/laptop down to smartphones and all aspect ratios and screen sizes in between.) Usually they degrade into vertically stacked containers. We could also leverage the `layout` technique we use with the GCS to specify a layout model, so to speak for the Paparazzi Center. Currently

[2015-11-25 16:51] EwoudSmeur commented on #1430
Thanks @gautierhattenberger and @flixr  for your replies. I agree that this is probably not the most pressing of issues.

But I would still say there is something strange going on. The ins (local) coordinates are calculated using the gps (and perhaps other sensors), using some calculation. When these coordinates are converted back to global coordinates in the gcs the location suddenly does not cor

[2015-11-25 20:43] podhrmic opened #1443 "ADC readings on Lisa MX are incorrect"
I just noticed after running ``tes_adc`` from ``test_progs`` on Lisa MX 2.1 that if I enable all 5 ADC channels (4xAUX, 1x V_BAT) and then have the input only on the V_BAT channel, I get readings in the unconnected AUX channels too, and they depend on V_BAT voltage, see below:
![adc_lisa_mx](https://cloud.githubusercontent.com/assets/2790461/11409003/e78c49a6-9371-11e5-90cb-bf218da82d0b.png)

I no

[2015-11-25 21:12] dewagter commented on #1443
This is hardware characteristic of the processor. The ADC uses has a single
AD-channel with a multiplexer in front and a capacitor. So when it is
connected first to input 1 (VBat), then measured, then connected to input 2
(which was a floating input): then the voltage in capacitor will not change
a lot, but typically it will discharge a bit so a lower voltage is likely
to be measured. Then to 3, 4

[2015-11-25 21:13] podhrmic commented on #1443
Thanks for the explanation. Not an issue then.

[2015-11-25 21:13] #1443 closed

[2015-11-25 21:32] podhrmic opened #1444 "MS5611 baro not working on Lisa MX"
With latest master and LIsa MX board, the baro doesn't work. The same configuration ``quadrotor_lisa_m_2_spektrum.xml`` works with Lisa M, but when I switch the board to ``lisa_mx_2.1`` in the airframe config file, I dont get any response from the baro.

Can someone verify if it is a problem with the code? I have only one Lisa MX to test on.

<bountysource-plugin>
---
Want to back this issue? **[P

[2015-11-26 17:17] flixr commented on #1444
Hm... It's working fine on my LisaMX 2.0... (tested with v5.7_devel-699-g20c4f93)
Don't have a LisaMX 2.1 to test...

[2015-11-26 18:27] podhrmic commented on #1444
probably a HW problem then. 2.0 and 2.1 should be basically identical, right? Thanks for checking.

[2015-11-26 21:56] flixr commented on #1444
@esden maybe you have a 2.1 around that you can quickly test?

[2015-11-27 17:09] flixr commented on #1430
@EwoudSmeur I think the "only issue" here is that you really can't use a local tangent plane reference far away from where you actually are, as the assumption made there is that the earth is flat... which it is obviously not.
So if you set your LtpDef (origin of local cartesian coordinate system) to some specific location (which at startup is the flightplan location if `USE_INS_NAV_INIT` is not ex

[2015-11-27 17:24] flixr commented on #1430
So to be clear: this has nothing to do with the GCS directly, rather it is because the INS you are using is estimation position in a local cartesian coordinate frame (which by default is initialized at flight plan location).

[2015-11-27 19:15] flixr commented on #1430
One last comment that hopefully finally clears up where the problems are with having the origin of the cartesian LTP frame far away:
Maybe what you were seeing is an overflow of the local position: since it is represented using a int32 with `INT32_POS_FRAC`, the max range of that var is ~8388km per axis.
So if your LTP origin is further away it will definitely overflow/wrap, giving you a completel

[2015-11-27 19:15] #1430 closed

[2015-11-27 21:55] dewagter commented on #1430
I'm still wondering exactly which "LTP assumption/simplifications" are made
in the code.

I used a lot of LLH / ECEF / LTP combinations in the past and could convert
from any one to any other without any "error".

I know that if your LTP origin is e.g. at the equator, then in Delft you
have weird coordinates (e.g. half the earth radius negative altitude, with
xy not parallel to ground). I'm not sa

[2015-11-27 23:09] flixr commented on #1430
I'm not aware of any "over-simplifications" in the coordinate transformations per se.
As far as I can see (and could confirm in some quick basic tests), ff you "simply" convert the ECEF pos from the GPS to NED using the LtpDef and send that to the GCS, it will display the position correctly.
Of course only if you are not too far away (max couple of hundereds of km), so that you don't get any overf

[2015-11-28 09:33] gautierhattenberger commented on #1430
@dewagter @EwoudSmeur can you try to add GPS_LLA message to the periodic telemetry and comment the lines that update the position in `rotorcraft_server.ml` file (ROTORCRAFT_FP message). It's not really a solution, I'm just wondering if it solves your issue.

[2015-11-29 15:00] flixr opened #1445 "Realtime Plotter: Average and standard dev of curves not shown anymore"
At least under Ubuntu 14.04 with Unity the average and std deviation values of each curve are not shown any more (in the curves menu).
They are properly computed and the update callback is executed, but it seems that the value label which is set as an image is not displayed:

[code]

So even before the first value is calculated it should show `N/A`, but that is not the case...
## <bountysource-plu

[2015-11-29 15:05] flixr opened #1446 "Computer gets unresponsive after running Realtime Plotter for a long time"
From @esden on Ubuntu 14.04:
Computer gets unresponsive when running e.g. the "Raw Sensors" session with 4 realtime plotters for a long time.
The `hud-service` process seems to take up quite a bit of CPU and fills the memory until it gets unresponsive.

This seems to be related to #1445: The HUD service seems to connect to menu events of all apps, and every event changing the avg/stdev values in t

[2015-11-29 15:26] flixr commented on #1446
Btw, this seems to be Unitiy specific issue (since `hud-service` is from Unity). There doesn't seem to be this problem with the e.g. the Gnome Desktop.

[2015-11-30 10:20] gautierhattenberger commented on #1335
this was actually fixed with e9179964a4215a6655fe248a843627ba8eb87d6f

[2015-11-30 10:20] #1335 closed

[2015-11-30 11:46] #1435 closed

[2015-11-30 15:18] #303 closed

[2015-12-01 10:13] rmeertens opened #1451 "No gps: no problem!"
Hey everybody,

With the rise of autonomous indoor drones that avoid  obstacles and can have an indication of their own speed I would like to enable the NAV mode of paparazzi to control such drones.
Currently using NAV mode is impossible indoors as you can't get a GPS fix, and without a gps position you can't start your drone.

@dewagter and I circumvent this with ugly hacks, but I would like your

[2015-12-01 10:23] gautierhattenberger commented on #1451
I think the system should not care if it has GPS or not, but rather get the information from the state interface that position/speed/attitude is valid or not (and not only initialized).
This is something I wanted to do for a long time but didn't find the time.

[2015-12-01 15:11] flixr commented on #1451
I agree, this needs to be handled in a nicer way... especially if you have a GPS but can actually fly without a fix.
What should work for now: don't add a gps subsystem and change the `GpsIsLost` define to `#define GpsIsLost() FALSE` in https://github.com/paparazzi/paparazzi/blob/master/sw/airborne/firmwares/rotorcraft/autopilot.c#L52

[2015-12-01 16:36] rmeertens commented on #1451
So for now, how about this? You can add a define to your airframe file:
#if USE_GPS
#include "subsystems/gps.h"
#else
#if DONT_NEED_GPS
#define GpsIsLost() FALSE
#else
#define GpsIsLost() TRUE
#endif
#endif

[2015-12-01 16:39] flixr commented on #1451
Jep, I think that should work. I even like your first suggestion better: `NO_GPS_NEEDED_FOR_NAV`
If you can confirm that this is all that is currently needed I'm happy to add this.

[2015-12-01 17:34] flixr commented on #1446
Closing, since workaround of disabling the menu updates (as per #1447) works for now....

[2015-12-01 17:34] #1446 closed

[2015-12-01 17:39] #1451 closed

[2015-12-01 23:28] flixr commented on #921
Support for naze32 rev4 as part of #1452

[2015-12-02 22:37] flixr opened #1458 "Getting more done in GitHub with ZenHub"
Hola! @flixr has created a [ZenHub](http://www.zenhub.io) account for the **paparazzi** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](http://www.zenhub.io)** and log in with your GitHub account. Once you do, you’ll get acce

[2015-12-02 22:38] flixr commented on #1458
Uh, didn't expect this to happen...

[2015-12-03 02:25] podhrmic commented on #1444
Confirmed, it was a hardware problem.

[2015-12-03 02:25] #1444 closed

[2015-12-03 07:54] dewagter opened #1459 "UBLOX 8 autoconfiguration"
- NAV5 message has bits used in a different way

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28809050-ublox-8-autoconfiguration?utm_campaign=plugin&utm_content=tracker%2F10895&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F10895&u

[2015-12-03 14:14] OpenUAS opened #1460 "gpsd not in make by default"
As I user choosing gpsd from Paparazzi center the GPSD tool expect it to run and does not.
 $ make gpsd2ivy
fixes that but IMHO it should be compiled by default with pprz make.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28818390-gpsd-not-in-make-by-default?utm_campaign=plugin&utm_content=tracker%2F10895&utm_medium=issues&utm_sou

[2015-12-03 14:16] OpenUAS commented on #1445
So I've noticed testing low throughput link, though somehow it was just me, good to know it is not :)
Used Xubuntu 14.04. Although it does show N/A in my case but never a value...

[2015-12-03 14:18] flixr commented on #1460
It is deliberately not compiled with make, since you might not have the gpsd dependency installed...
See also #615

[2015-12-03 14:22] flixr commented on #921
I think we can close this since we merge #1452, at least it works on my flip32 (naze32 rev4 clone)?
@martinmm had problems that the baro was not working on his rev5 board.
@OpenUAS maybe you can check with your boards as well?

[2015-12-03 14:23] OpenUAS commented on #161
IMHO an issue like this should be blocking since it leads quite often to an rotorcraft flying in an uncontrolled fashion for regular users. De-assign since assignment was as a reminder to self.

[2015-12-03 14:25] flixr commented on #1445
Well, the update of the menu (and hence display of the values) was disabled with #1447...
With which version were you testing? Before or after that?
If the display of the images and values works under Xubuntu 14.04 (before it was disabled), can you post the used lablgtk, gtk, etc. versions?

[2015-12-03 14:26] flixr commented on #161
Well, I would consider blocking as something that - well - blocks a release.
Since we don't have an exact idea where the issue is or how to fix it and have had many successful flights, I would not consider this blocking.

[2015-12-03 14:28] OpenUAS commented on #1460
Ah thank.. now I recall what it was.. :+1:

[2015-12-03 15:53] flixr commented on #1460
So we can close this again?
Or do you want to add something that will auto-detect whether it could be compiled?

[2015-12-03 15:54] flixr commented on #1445
Also this has nothing to do with low throughput on link....

[2015-12-03 16:53] #1460 closed

[2015-12-03 21:48] agressiva commented on #921
i will test too.

[2015-12-06 19:59] kirkscheper opened #1463 "[Feature request] Inter-vehicle position tracking for rotorcraft"
I am currently working (in my free time) on swarming with some quadrotors and would like each member of the swarm to keep track of the other members so they can preform some separation assurance. I saw that in fixed wing there is some capability to do this typically called traffic_info and tracks vehicles using ac_info msgs. I however haven't found anything like it for rotorcraft.

A couple of que

[2015-12-06 20:31] gautierhattenberger commented on #1463
Hi,

Some short answers:

Not much I think, but these multi-UAV was part of a research project
that led to really flights with collision avoidance in 2010.

Not yet

This is something that was already asked and discussed pretty often. And
yes it is a major interest but the main issue is that while fixed-wing
are flying using (global) UTM coordinates, rotorcrafts are flying in LTP
coordinates that

[2015-12-07 07:09] dewagter commented on #1459
Direct link: https://www.u-blox.com/sites/default/files/products/documents/u-bloxM8_ReceiverDescrProtSpec_%28UBX-13003221%29_Public.pdf

[2015-12-07 10:28] flixr commented on #1436
Should be closed with #1456

[2015-12-07 10:28] #1436 closed

[2015-12-07 11:47] flixr commented on #1459
According to the 7to8 migration guide the UBX-CFG-NAV5 message should be backwards compatible: https://www.u-blox.com/sites/default/files/products/documents/ubx7toM8-SWMigrationGuide_AppNote_%28UBX-13003254%29.pdf

[2015-12-07 11:48] gautierhattenberger commented on #1459
That's why I don't understand why it is not set correctly. Or it is a side effect of an other issue.

[2015-12-07 11:52] flixr commented on #1459
No idea... and I don't have a M8 to test...

[2015-12-07 12:00] flixr commented on #1463
Basically Gautier mentioned said it already:
we should either add a `ACINFO_ECEF` or `ACINFO_LLA` message (lat/lon in fixed point 10e7deg).
ECEF should take less CPU to convert to NED, LLA is probably more common (not sure that matters here).

[2015-12-07 20:38] kirkscheper commented on #1463
Ok, Based on this I think I will go down the road of lla for communicating the position but replace the utm format in the ac_info_ struct with a ecef format. (this will end up being a big push).

I have hit my first hurdle, the ac_info message is defined in the uplink class of messages. I assume that previously all locations were relayed to the aircraft via the ground station but I am interested i

[2015-12-07 21:17] gautierhattenberger commented on #1463
The message system as not been design to work with air-to-air messages, that is indeed a fact. I had some students working on a new protocol some years ago to address these issues, but we couldn't finish it.
If you look at the file sw/airborne/firmwares/fixedwing/datalink.c there are some lines commented at the beginning of the dl_parse function that was suppose to parse telemetry message when the

[2015-12-07 21:24] OpenUAS commented on #873
THX, my shaky cold fingers in the outside testingfields all thank you :)

[2015-12-08 22:13] kirkscheper commented on #1463
Ah thanks!

So in summary, for air-air messages I need to use telemetry class msgs which are intercepted by the sender if in the datalink.c. Any messages which need to be relayed by the ground station will still work but will need to be datalink messages.

I think that is fair enough.

BTW, do you want to keep the utm axis system at all for the acinfo. I have already rewritten everything for ecef

[2015-12-09 15:20] OpenUAS commented on #1458
would be good...

[2015-12-09 17:19] OpenUAS commented on #1463
@kirkscheper thx, this would also help in Rotorcraft-Fixedwing unifying codebase. Will discuss face to face

[2015-12-09 17:22] OpenUAS commented on #1445
Will investigate and post feedback and used versions and OS version etc. etc.
I like the nice deviation feature of the realtime logger a lot when debugging live datafeeds, so one more thing on my list...

[2015-12-09 17:56] OpenUAS commented on #1267
Thx, hop -D there goes my "branch fix_issue_1267" :) .
As fast as issues are fixed I cannot even say, "As a user I would like to.." ;)

[2015-12-10 09:27] OpenUAS commented on #907
Assigned to self, for over next release, no closing yet.

[2015-12-10 10:19] flixr commented on #907
Could you plz still try to explain where you see the issue here?

[2015-12-10 21:50] gautierhattenberger commented on #1463
UTM has some interesting properties: it is a global position (compared to LTP) but still Cartesian (compared to LLA) with nice axis (compared to ECEF) and not sensitive to initialization point (compared to ECEF/LLA/LTP combination, even if borders are a bit annoying some times). And it can be used directly with geoid altitude (easier to compare to SRTM elevation map).
Also, fixed-wing are also cap

[2015-12-10 22:27] OpenUAS commented on #905
Fine lest clean on the go... to 5.8 and higher

[2015-12-10 22:27] #905 closed

[2015-12-10 22:30] OpenUAS commented on #161
Fine set to overnext release

[2015-12-10 22:34] OpenUAS commented on #1201
So a "fix" and even investigation is ongoing, great. If one could add and example airframe and which (all) value to change as example, then add to this issue. Then defect(so we can somewhere stuff it on the wiki) we could close the issue IMHO

[2015-12-10 22:41] OpenUAS commented on #1005
It is now set for overnext release :(, Is there anything I can test so it makes it in next release?

[2015-12-10 23:18] agressiva commented on #1201
Well, i stopped the tests because my quad copter crashed on the last one.

[2015-12-10 23:37] hooperfly commented on #1201
@agressiva I think you need a HooperFly for those kind of tests. :)

[2015-12-11 00:27] agressiva commented on #1201
for sure ...

[2015-12-11 13:18] tenyan commented on #1459
Use NAV-PVT for ubx7+ modules , use NAV-SOL, NAV-POSLLH, NAV-VELNED and NAV-TIMEUTC for ubx6?

[2015-12-12 08:15] gautierhattenberger commented on #145
Would it possible to close this as a 'won't fix' since lpc is not a major concern anymore and I personally won't spend time on this ?

[2015-12-12 08:23] gautierhattenberger commented on #199
Although it would be nice to have more basic filters, I'm not sure it makes sense to keep this issue opened.
When people need them, we can expect that they will add them.
Experience shows that simple filters are usually re-coded each time...

[2015-12-12 09:14] flixr commented on #145
Agreed. If someone wants to implement this, we are of course still accepting pull requests ;-)

[2015-12-12 09:14] #145 closed

[2015-12-12 09:16] #199 closed

[2015-12-12 09:23] gautierhattenberger commented on #345
- max1168 adc peripheral (only for obsolete booz imu driver)
- ads1114 adc peripheral (only for some obsolete Enac baro boards)
- ms2100 magnetometer peripheral (only for obsolete booz imu driver)
- ami601 magnetometer peripheral (only for some version of obsolete booz imu)
- hmc58xx data ready interrupt handling (is it actually used? not all boards have the pin routed anyway)
- itg3200 data ready

[2015-12-12 09:29] #345 closed

[2015-12-12 19:55] flixr commented on #921
@OpenUAS @agressiva @hooperfly have you guys had a chance to test this yet?
Can we close this issue or did you find problems with the current support?

[2015-12-12 19:57] flixr commented on #23
Update: With #1471 we are on track to start converting subsystems to modules and hence also enabling to specify settings associated with a subsystem (then module).

[2015-12-12 20:16] flixr commented on #930
@dewagter since nobody worked on this, I suggest to move this to v6.0 or do you have something?

[2015-12-12 20:18] flixr commented on #492
@gautierhattenberger I suggest we also close this as WONTFIX as it seems to work where needed but we won't be building new autopilots based on LPC21...

[2015-12-12 20:23] flixr opened #1475 "convert subsystems to modules"
The goal is to use the same xml description format we have for modules for subsystems (or rather convert subsystems to modules).
This is sort of a meta issue to track progress of the various sub issues...

This will yield the following advantages:
- Better documentation
- auto settings (#23)
- possibility to use periodic and event functions that are automatically called
- hook into datalink parsin

[2015-12-12 20:27] flixr commented on #949
We now have helicopter throttle curve support with #1437

[2015-12-12 20:38] agressiva commented on #921
working great on my miniquad.

[2015-12-12 20:39] flixr commented on #921
Is that a rev4 or rev5? If it's a rev5, does the baro work?

[2015-12-12 20:55] gautierhattenberger commented on #492
agreed

[2015-12-12 20:55] #492 closed

[2015-12-13 00:11] agressiva commented on #921
i am using an board similar to rev5.
baro work.

[2015-12-13 00:17] flixr commented on #921
:-)
Closing this then..

[2015-12-13 00:17] #921 closed

[2015-12-13 02:51] hooperfly opened #1477 "GCS Strip Buttons and Flight Blocks Non-Functional on Mac OS X"
The GCS strip buttons as well as double clicking on flight blocks to trigger them no longer functions under Mac OS X. The `launch`,` kill`, `resurrect`, `altitude` and `lateral shift` buttons function as expected. This is behavior specific to Mac OS X. These same tests/actions under Linux 14.04 work as expected.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://w

[2015-12-13 09:13] flixr commented on #1477
Can we lump all these El Capitan issues together, since they all seem to be related?

[2015-12-13 09:23] hooperfly commented on #1477
It seems odd that some of the buttons work and the strip buttons do not. Seems inconsistent and makes me wonder about the GTK+ library.

[2015-12-13 09:34] flixr commented on #1477
But it was working before El Capitan, right?
And this is just one of the many "regressions" we see with lablgtk/GTK2 under El Capitan.

[2015-12-13 09:40] hooperfly commented on #1477
Not a bug. User error with respect to `link` tool arguments. Had mistakenly used the `-udp_broadcast` argument by mistake. The invocation should have been just the following:

[code]

[2015-12-13 09:40] #1477 closed

[2015-12-13 17:02] flixr commented on #1459
NAV-PVT doesn't really give you anything extra that you don't already get with NAV-SOL, NAV-POSLLH and NAV-VELNED, which are all still available for ublox 7 and 8...

[2015-12-13 17:03] flixr commented on #1459
@dewagter do you have any more insights on why the UBX-CFG-NAV5 doesn't seem to be working as expected?

[2015-12-14 20:48] dewagter commented on #930
I think this only an issue for fixedwing.
Postpone or nofix is OK.
On Dec 12, 2015 9:16 PM, "Felix Ruess" <notifications@github.com> wrote:

[2015-12-15 10:06] gautierhattenberger commented on #1459
The reason it is not working (at least one of the reasons...) is that the autobaud function is not working. Or exactly it is not very robust to properly catch the ACK. And if it happens to work (either it found the correct value while testing them or it falls back to the default and it is the correct one), it will not set the uart to the "new" value. It will send the message to set the baudrate to

[2015-12-16 15:47] rmeertens opened #1483 "Flying without gps in nav mode"
Although I defined  NO_GPS_NEEDED_FOR_NAV I still can't seem to enter NAV mode with my joystick.
The problem might be resolved at this line (655) in the autopilot.c file:

    /* don't enter NAV mode if GPS is lost (this also prevents mode oscillations) */
    if (!(new_autopilot_mode == AP_MODE_NAV && GpsIsLost())) {

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](htt

[2015-12-17 22:25] hooperfly opened #1484 "Message or Message Class for Passing Feature Specific Data"
The feature in this case is the triggering/setting of lighting data and passing it to all/each aircraft via Telemetry uplink. For example, sending RGB values to an on-board lighting system using a telemetry message/technique. Currently there seems to be at least three options for achieving this goal:
1. Use the `COMMANDS_RAW` message to send 8-bits of data to each aircraft.

[code]

   Given the t

[2015-12-18 15:18] #1459 closed

[2015-12-19 15:51] flixr commented on #1483
If ` NO_GPS_NEEDED_FOR_NAV ` is defined AND you don't have a GPS subsystem (`USE_GPS` is false) then `GpsIsLost()` is also FALSE, see https://github.com/paparazzi/paparazzi/blob/master/sw/airborne/firmwares/rotorcraft/autopilot.c#L53

So it must be something else...

[2015-12-20 23:49] rmeertens commented on #1483
Pretty sure both are defined correctly. Will continue searching this week.

[2015-12-20 23:57] flixr commented on #1483
Currently I can't see where the problem would be, but If you can share your exact conf, I'll try to look into it as soon as I find the time...

[2015-12-21 14:35] #641 closed

[2015-12-21 23:49] hooperfly opened #1495 "Python tools not executing on Mac OS X installation"
The python tools used in `Paparazzi Center` as well as from the command line are not executing and complain about libraries not being found. Possibly the Mac OS X install is not including all of the necessary `python` libraries required by Paparazzi? NOTE: tools work as expected under Ubuntu.

Here's the type of output displayed when trying to invoke one of the python tools:

[code]

<bountysource

[2015-12-22 00:31] flixr commented on #1495
Do you have ivy-python installed?
At least it is not found...

[2015-12-22 03:25] hooperfly commented on #1495
@flixr my guess is that the Paparazzi UAV Mac OS X install process is deficient with respect to the needed python libraries used by the various python scripts. I wanted to open an issue to capture what those might be and capture them in this thread. The `ivy-python` is indeed missing at this point.

[2015-12-22 04:16] hooperfly commented on #1495
@flixr I am now able to run the script on Mac OS X but it has not affect on the simulation like the Ubuntu version. My guess, without checking, is it's related to ivy bus ip address/port differences between Ubuntu and Mac OS X.

[2015-12-22 04:46] hooperfly commented on #1495
@flixr Based on my suspicion of ivy bus ip address/port differences for why the script execution has no impact on the simulation with respect to Mac OS X, the file ./sw/lib/python/ivy_msg_interface.py might be the culprit. The initialization of the ivy bus doesn't seem to specify an ip address. Thoughts?

[2015-12-22 10:51] #1495 closed

[2015-12-22 10:51] flixr commented on #1495
I am still surprised that IVY itself has no working defaults...

[2015-12-22 14:46] dewagter commented on #1459
Working for me now in master.

[2015-12-23 18:45] OpenUAS commented on #1484
Nothing wrong with using your own messages.xml after all it is still a CONFiguration file where you can be your own boss. So whatever works for you is fine. Also creating an own IVY agent is actually using IVY where it was designed for. You have specific wish, just create a solution that fits you best, no need to adhere to whatever PPRZ, it is opensource and extendable. Even creating a module woul

[2015-12-23 18:48] OpenUAS commented on #1483
* Look at your generated files in var/aircraft/ they migh give a hint the issue is.
* A pointer to the used airframe and conf so we can reproduce the issue welcomed.

[2015-12-23 18:52] OpenUAS commented on #1463
@gautierhattenberger , yes that sounds great to me, a very nice in depth short overview, you nailed the issue quite well, Thx!

[2015-12-27 11:13] flixr commented on #1483
@rmeertens are you using a GPS subsystem or not?

[2015-12-27 20:12] flixr opened #1500 "[arch/linux] I2C transaction queues not implemented"
While a linux I2C driver was added with #961, it is still missing transaction queues and instead `i2c_submit` blocks until the transaction is done.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29424601-arch-linux-i2c-transaction-queues-not-implemented?utm_campaign=plugin&utm_content=tracker%2F10895&utm_medium=issues&utm_source=gith

[2015-12-29 15:07] podhrmic opened #1503 "[conf] Group together conf files"
Would be possible to ground the conf files into one folder?

Right now in `conf` there are various folders that are not related to the actual paparazzi code, such as `AGGIEIAR`, `CDW` etc.

The conf files used to be together with the airframe files, but since that was not desirable for some reason, can the folders be grouped into one? For example in a new folder `aiframe_config`:
[code]

Right now

[2015-12-29 15:14] flixr commented on #1503
I'm not quite following... what exactly do you want to put in the `airframe_config` folder and what keep in `airframes`?

[2015-12-29 15:37] podhrmic commented on #1503
`airframe_config` ->The uppercase folders that now contain the conf.xml files that are selected with the start.py script. (for example AGGIEAIR, CDW...)

`airframes` -> keep it as is

That way there will be only two folders in `conf` that are related to user airframes, rather than 10 (and possibly growing).

Does it make sense now?

[2015-12-29 16:19] flixr commented on #1503
hm... to me it does not make more sense to have some airframe files in conf/airframes (like the examples) and some in conf/airframe_conf ("user specific"), especially since quite some conf.xml have airframe files from examples and from user specific dirs...

If people agree that changing this helps, OK... personally I find it even more confusing to look for airframe files in conf/airframes and con

[2015-12-29 16:34] podhrmic commented on #1503
I see - I guess what I wanted to say was that the uppercase directories in `conf` folder are distracting. If they are in lets say `conf/airframes` instead that is totally cool, because then you don't have to see them unless you want to see some specific user files.

For me as a developer it is confusing because now instead of having clearly named directories in `conf` there are now mixed other unr

[2015-12-29 16:58] flixr commented on #1503
Oh, sorry.... I thought you meant the conf/airframes/AGGIEAIR directories and not the conf/AGGIEAIR... my bad, didn't read closely enough.

Yeah, I find the `conf/USER` dirs kind of annoying as well.... I liked it better when the user conf.xml was also in the subfolder of the user airframe files. (Yeah, I know conf.xml is not an airframe file... whatever).

In any case the confs were moved by @Ope

[2016-01-06 17:21] kirkscheper commented on #1463
Check #1509 for the first pull request for this

[2016-01-12 07:38] dewagter commented on #1484
In the context of paparazzi I would vote for option 2A: a generic PAYLOAD_CMD->bytes[] message to be overloaded by any struct you like, as is done with the PAYLOAD downlink message in several modules. This means you need to know the version of paparazzi and conf in order to know what the payload message means, but this is no different from settings and flightplan blocks, so I guess this must be ac

[2016-01-12 22:32] flixr commented on #1503
@OpenUAS any comments here?

[2016-01-24 16:59] datomnurdin opened #1518 "ocamlfind: Package `glibivy' not found"
It seems I got an error message when i trying to make Paparazzi on Mac EI-Capitan. The error message like this

[code]

Please advice. Thank you.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30161249-ocamlfind-package-glibivy-not-found?utm_campaign=plugin&utm_content=tracker%2F10895&utm_medium=issues&utm_source=github)** We accept

[2016-01-24 17:22] flixr commented on #1518
You are missing the OCaml ivy package, which probably should have been installed via opam.

Please have a look at http://wiki.paparazziuav.org/wiki/Installation/MacOSX.

Also the mailing list is a more appropriate place to ask for help with this as there are more OSX users who could chip in.
http://wiki.paparazziuav.org/wiki/Contact

[2016-01-28 17:08] flixr commented on #1518
@datomnurdin were you able to fix your issue following the instructions on the wiki?

[2016-01-28 17:12] datomnurdin commented on #1518
I will try it first.

[2016-02-03 20:33] EwoudSmeur opened #1526 "In the flight plan, specify relative waypoints in ENU"
Currently, relative waypoints are handled as UTM coordinates. These coordinates do not translate one to one to ENU coordinates. In some cases, it can be very useful to be able to specify that waypoints should be interpreted as ENU, instead of UTM.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30509012-in-the-flight-plan-specify-rela

[2016-02-07 19:04] #1483 closed

[2016-02-09 13:15] OpenUAS commented on #1031
An alert in GCS can be added as Papaget with an IF statment" if ping time exceeds some threshold and using the message "downlonk_rate" as treshold when it goes below a certain value.

[2016-02-09 13:20] OpenUAS commented on #1503
Yes, I'll clean up more over time and listen to all inputs, see Gitter Developers and this. Next version will be more convenient.  @podhrmic FYI coming from PPRZ v2.x I know what was the initial conf Idea but it as "Misused" for more. Will discuss it and together we find a great solution.

[2016-02-10 14:37] kirkscheper commented on #1463
Hey all, so I am struggling with the reference frame to use between the drones and I need a bit of help. The problem points a bit to waht @gautierhattenberger mentioned above on the 10th of Dec.

Currently in Paparazzi what was done is the position of the other aircraft is received in UTM and stored as the UTM position relative to the origin of the flight plan (UTM-NAV_UTM_XXXX0). This value was t

[2016-02-10 21:44] flixr commented on #1463
That is actually a good but a bit tricky question...

Continuing to use UTM relative to the flight plan (as opposed to "real" UTM coordinates) is probably not a good idea in any case. At the very least we should switch to proper UTM coordinates here.
Regarding the zone transitions: how we currently handle this is that if you are on a UTM zone border or get a coordinate in the next zone, the "origi

[2016-02-23 13:05] kevindehecker opened #1544 "Copy text from pprz center"
If I press ctrl-c to copy text (e.g. to Google a build error), pprz shows the "Copy A/C" dialog. I have to through the right click context menu to copy the stuff I want instead. Very annoying... Suggest to map ctrl-c back to copy text and only copy A/C through the menu bar (without short keys)).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.c

[2016-02-23 13:27] kevindehecker opened #1545 "Back up message box very unclear"
![image](https://cloud.githubusercontent.com/assets/5213220/13252710/7b775874-da38-11e5-971d-0869e7d81e05.png)

At seemingly random moments, I'm confronted with this backup dialog during startup of pprz Center, which I do not want to see nor read because:
1. It is totally irrelevant at that moment. (trying to fly here!)
2. it's unclear what I'm supposed to do... even if I read it.
3. The most pers

[2016-02-23 13:42] gautierhattenberger commented on #1545
Hum, I almost sure this discussion already happen somewhere...
1. I agree
2. I don't totally agree
3. Actually reading all the lines tells you that by restoring the backup you will lose the latest manual changes

Yet, I agree this is not the ideal way to do this.

But:
- unless someone wants to do some ocaml, I won't do it because I don't have the time right now
- we have a student that just start

[2016-02-23 13:48] kevindehecker commented on #1545
Oooh, ah new Python Center. I'll happily wait for that :)

[2016-02-23 17:45] dewagter commented on #1545
I would suggest to add a line to say:
If you recently checked out a different branch, this will have changed your
conf. To keep this new conf and forget the previous conf from the other
branch press ...
On Feb 23, 2016 21:48, "kevindehecker" <notifications@github.com> wrote:

[2016-02-24 09:59] kevindehecker commented on #1545
If we are to keep the msgbox for now, I'm thinking more along the line of:

"Configuration changes to conf/conf.xml were either not saved during the last session, or external changes were applied (e.g. from a git branch).\n In the first case, please choose [Keep current] to save the new settings permanently. In the second case, please choose [Discard local changes] to reset to the new settings of

[2016-02-24 10:15] gautierhattenberger commented on #1545
The first line is fine, but in the first case for instance, I prefer sometimes to discard local changes to go back to the previous version. The rest of the text implies that can't or shouldn't do that even if it is perfectly fine. So I suggest to at least add "or choose [Discard local changes] to restore previous settings.
Since my conf is not under revision control, the second case never occurs t

[2016-02-24 10:46] kevindehecker commented on #1545
I really think that is counter productive. It is not helpful to explain each and all possible use case in the text, simply because there are too many. (the second case also has all kinds of exceptions)
I think the new button caption should make it clear enough what to press in case of other use cases than the default recommend. I changed "please" to recommend, to reflect this:

"Configuration chan

[2016-02-25 11:28] dewagter commented on #1545
another proposition:

"Your conf/conf.xml is different than the last automatic backup. (e.g.
forgot to save or changed git branch).\n [Load conf.xml from current
branch]    [Load auto-backup conf from previous session]"

-Christophe

On Wed, Feb 24, 2016 at 11:46 AM, kevindehecker <notifications@github.com>
wrote:

[2016-02-25 13:00] flixr commented on #1545
@dewagter :+1:
with maybe a minor shortening:
"Your conf/conf.xml is different than the last automatic backup.\n(e.g. forgot to save or changed git branch).\n [Use current conf.xml] [Use auto-backup from previous session]"

[2016-02-25 14:13] gautierhattenberger commented on #1545
@dewagter @flixr I guess a shorter text is not a bad idea

[2016-02-25 14:32] dewagter commented on #1545
I still do not like the work "current" a lot: that was the most confusing
word ("keep current") in the first place if you do not yet know how
paparazzi center works.
And 1 of the 3 reasons to get this dialog was still missing.

"Your conf/conf.xml is different than the last automatic backup.\n(e.g.
forgot to save, *manually edited* conf.xml or changed git branch).\n [Use
conf.xml (as is)] [Use aut

[2016-02-25 14:57] flixr commented on #1545
good points, but in any case I would like to keep the button text shorter...

[2016-02-25 23:42] kevindehecker commented on #1545
I have a big problem how "auto backup" is/was used. Normally (e.g. Microsoft Word), restoring the auto backup means restoring your last made changes (after a crash). In our case, it does the exact opposite. <insert obligate GUI design pattern comment>.

"Your conf/conf.xml is different than the last automatic backup.\n(e.g. forgot to save, manually edited conf.xml, or changed git branch).\n

[Use

[2016-02-26 07:53] dewagter commented on #1545
can you explain a flow of actions where loading auto-backup does not load
the list of aircraft you last had in paparazzi center?
for me the only difference with how MS Word auto-backup works is that in
word when you open an auto-backup, it does not yet delete (overwrite) your
actual file.

-Christophe

On Fri, Feb 26, 2016 at 12:42 AM, kevindehecker <notifications@github.com>
wrote:

[2016-02-26 07:54] dewagter commented on #1545
Maybe with symlinks we could keep both:

 conf.xml -> conf.non-autobackup.xml
conf.autobackup.conf -> conf.xml

-Christophe

On Fri, Feb 26, 2016 at 8:53 AM, Christophe De Wagter <dewagter@gmail.com>
wrote:

[2016-02-26 09:47] kevindehecker commented on #1545
In MS Word, when it (automatically) restores the latest auto backup, it opens the copy of the original file that contains the last known/retained changes made by the user. It also presents you a list of older available revisions, in which one of the options is the last explicitly saved file, if for whatever reason you want to discard all the unsaved changes. Of course, MS Word does not have a noti

[2016-02-26 12:13] dewagter commented on #1545
auto-backup = last changes made by the user via *paparazzi center*
conf = last changes made by the user *directly to the conf file *(via
either notepad, or paparazzi center-save or via git)

paparazzi center does not know which is better as it depends on many many
possibilities.

the "issues":

 1) apparently the choice is not clear -> *suggested rephrases*
 2) unlike word it does not "open" the l

[2016-02-27 09:48] #1544 closed

[2016-02-27 12:24] flixr commented on #1545
there is already a "diff" button....

[2016-02-27 12:46] flixr commented on #1518
@datomnurdin were you able to resolve the issue by following the wiki instructions?
Can we close this issue?

[2016-02-27 12:53] flixr commented on #1432
So if I understand this correctly, then this is about a missing helicopter model for e.g. the JSBSim FDM backend? Then I would suggest we close this issue and maybe open a new feature request for a helicopter model...
Or is there really some issue with simulating split ap/fbw multicopters in NPS?

[2016-03-01 13:38] kirkscheper opened #1549 "AP_MODE_HOVER_DIRECT mode (actually all hover modes) doesn't set velocity from rc"
The wiki says this about hover mode:

AP_MODE_HOVER_DIRECT (HOVER)

The rotorcraft hovers at the horizontal position you were at when entering this mode (position control). You still set the throttle directly with your RC. Yaw command on the RC allows for heading change. If USE_SPEED_REF=1 then pitch and roll commands in the RC control speed according to max speed set with REF_MAX_SPEED in the GUI

[2016-03-01 14:24] flixr commented on #1549
Thanks for finding and reporting this Kirk!
I'm afraid that was my bad...

[2016-03-01 14:24] #1549 closed

[2016-03-02 13:05] flixr commented on #940
We should probably also consider ordering the init functions according to the dependencies (first init modules that are dependencies of others).
E.g. the init order is currently crucial for modules calling `cv_add` in init, see also #1539

[2016-03-03 07:53] dewagter commented on #1432
I think it's mainly that airframes with fbw do not yet have a working
sim/NPS target. Might be possible to just add it, but might need some extra
code e.g. in case of helicopter-mixed actuators.
On Feb 27, 2016 13:53, "Felix Ruess" <notifications@github.com> wrote:

[2016-03-03 15:10] flixr commented on #1432
So are there any airframes with fbw that we would have a JSBSim model for?
Then we could simply add the nps target there and close this issue...

[2016-03-07 08:33] dewagter commented on #1432
not many, but these 2 for instance do not have a nps target:

https://github.com/paparazzi/paparazzi/blob/master/conf/airframes/TUDELFT/tudelft_logo600.xml
https://github.com/paparazzi/paparazzi/blob/master/conf/airframes/OPENUAS/openuas_vivify.xml

the new quadrotor FBW can already be simulated:

https://github.com/kevindehecker/paparazzi/blob/PX4/conf/airframes/TUDELFT/tudelft_iris_pid.xml

-Chr

[2016-03-07 17:13] flixr commented on #1432
well, logo600 is a conventional helicopter frame for which we don't have a JSBSim model...
For vivify we also don't have a nicely matching fixedwing model...

[2016-03-07 18:15] #1432 closed

[2016-03-07 22:22] podhrmic opened #1555 "[enhancement] Make GCS radio link indicator configurable"
Make the max `rc_rate` configurable either from airframe config file or from GCS config file. Here is the hardcoded value: https://github.com/paparazzi/paparazzi/blob/master/sw/ground_segment/cockpit/live.ml#L866

![screenshot from 2016-03-07 13 29 48](https://cloud.githubusercontent.com/assets/2790461/13585251/8e3f27c0-e46f-11e5-80b3-7121494e0157.png)

The reason is that some systems (like PPM ra

[2016-03-09 01:51] podhrmic opened #1556 "Update JSBSim package to use JSBSim-1.0-RC2"
Paparazzi is currently using an older (and customized) version of JSBSim. Update it to the latest stable version ([1.0-rc2](https://sourceforge.net/projects/jsbsim/files/JSBSim_Source/JSBSim%20v1.0%20Release%20Candidate%202/)) to get bug fixes, new features and a standardized version of JSBSim (AFAIK we don't need any of the custom features that might be in the current package).

The standardized

[2016-03-09 10:04] flixr commented on #1556
We are actually using a more recent version of JSBSim, 1.0-rc2 is from 2009! And they have never made an actual release after that rc.
Currently the [paparazzi-jsbsim](https://github.com/paparazzi/paparazzi-portability-support/blob/master/debian/paparazzi-jsbsim/) package uses the version from 23 Feb 2015 and the only "customizations" are the addition of a pkg-config file and some fixes for Debian

[2016-03-09 16:55] podhrmic commented on #1556
Ah, I didn't know that. So I guess then the question is - do we want to update to the newest version available at CVS ([February 2016](https://sourceforge.net/p/jsbsim/mailman/jsbsim-cvslogs/?viewmonth=201602)), or just keep the things as they are?

[2016-03-09 17:04] knmcguire opened #1559 "Guidance speed reference"
The use_speed_ref in the module guidance_h does not seem to respond to RC commands anymore. I see that a new define is put in guidance_h.c (line 452):

#if GUIDANCE_H_USE_REF
#if GUIDANCE_H_USE_SPEED_REF
  **if (bit_is_set(guidance_h.sp.mask, 4) && bit_is_set(guidance_h.sp.mask, 5)) {**
    gh_update_ref_from_speed_sp(guidance_h.sp.speed);
  } else
#endif
    gh_update_ref_from_pos_sp(guidance_h.s

[2016-03-09 17:05] flixr commented on #1556
Well, do you know if there are any new useful features or relevant fixes?

[2016-03-09 17:18] podhrmic commented on #1556
Judging from the logs there are definitely *some* changes (I noticed a bunch of python scripts for testing and some more models), but I will look into it more.

[2016-03-09 17:19] flixr commented on #1559
What paparazzi version are you using?
I think this has already been reported in https://github.com/paparazzi/paparazzi/issues/1549 and fixed with https://github.com/paparazzi/paparazzi/commit/1e29cb623fc00e1fc34f377d5ccd60900dcef676

[2016-03-09 17:26] knmcguire commented on #1559
Aha yes my branched version is exactly from 9 days ago. Sorry, my bad. I'll try it out these days and if there is anything else then I'll report it. Thanks for notifying me so quickly

[2016-03-09 17:26] #1559 closed

[2016-03-11 16:53] #1518 closed

[2016-03-11 16:55] #1458 closed

[2016-03-11 21:32] podhrmic commented on #1556
Changes in the latest version of JSBSIM (Feb 2016) compared to pprz version (23 Feb 2015):

In the newest version:
- minor changes in the example airplane xml files (doesn't really concern us as we don't use it)
- changed names of some variables (shorter names)
- cleaner code (i.e. more reusable code, proper function calls, generally looks like a little bit nicer code)
- added python test scripts

[2016-03-12 12:07] flixr commented on #1556
If we really need to change how some JSBSim functions have to be called, it's a bit of problem:
An updated JSBSim package would then mean that NPS with JSBSim backend suddenly won't work/compile any more for all previous paparazzi versions (including latest stable release).

[2016-03-12 22:05] podhrmic commented on #1556
Good point, I haven't realized that. So in that case we should probably close this issue and keep using what we have, at least for now. I don't know how would we solve it if we wanted to upgrade in the future though... Maybe have this done with releasing next stable version?

[2016-03-14 08:55] gautierhattenberger commented on #1556
I think it is wise to close this and only consider upgrading for significant changes to the simulation part. Last time I did it was really a pain to keep the API the same so it can work with all versions of paparazzi/jsbsim.

[2016-03-14 20:02] flixr commented on #1556
I agree with @gautierhattenberger, if an update really requires changing the function calls it should provide significant benefit.
If it's possible to update with only some minor changes AND it can be kept compatible with older versions, we can do it without problems...
The other option we could of course consider in the future (if keeping backwards compatibility is too hard otherwise) is to integ

[2016-03-14 20:51] podhrmic commented on #1556
I like the idea of JSBSim as a module. However, I ll close it for now, since no immediate action is needed.

[2016-03-14 20:51] #1556 closed

[2016-03-19 12:37] kirkscheper commented on #1006
I am a bit confused with the utm alt... in the definition of the struct it states "in meters above WGS84 reference ellipsoid" but in state.c, the reference frame is set using hmsl (void ins_float_invariant_init(void):216). Shouldn't we just stick to one? The two are quite confusing.

[2016-03-22 11:18] flixr commented on #1006
@kirkscheper maybe we shouldn't specify the alt reference in the `UtmCoor_f` definition, as it can be use to represent altitude wrt. different references (geoid, ellipsoid, ground, ...)

[2016-03-22 11:47] kirkscheper commented on #1006
If it isn't consistently used, it may be more clear not to have a height in that structure at all, haha. Users would have to get the altitude from another place (lla for above ellipsoid, ins for ground, gps for geoid). Or alternatively... store the height somewhere readily available in each format (if available) in the state.c using a similar bit set method used for the other formats.

[2016-03-22 11:54] flixr commented on #1006
There is no simple solution for this... sometimes you simply need ellipsoid alt (e.g. converting to ECEF) and sometimes geoid/msl alt.
Same goes for LLA/LLH actually...

And you don't always have information for both ellipsoid and geoid.
IMHO the best we can do is to document in which cases what is used...

[2016-03-22 11:57] kirkscheper commented on #1006
:'(

On 22/03/16 12:54, Felix Ruess wrote:

[2016-03-22 22:24] OpenUAS commented on #1555
@podhrmic  :+1:  My OCAML fu a bit lacking though to fix it. This is a good chance maybe for you to dive in a bit as a small confined issue to solve.

[2016-03-22 22:29] OpenUAS commented on #1295
Well more like a eastern time type of thing to work on then :( ... Since uBlox modules with USB can already be had for very low price by now... time to close it.

@devyeshtandon feel free to reopen the issue and use it as a tryout to dive into PPRZ for yourself

[2016-03-22 22:29] #1295 closed

[2016-03-23 17:38] flixr opened #1576 "module target inversion with ! doesn't work for all targets"
Prefixing module targets with `!` is supposed to invert the list.
However that doesn't seem to work properly, e.g.
- `<makefile target="!nps">` is supposed to add it to all targets except for `nps`, however the sources are not added for e.g. `ap` target (but it's added in `generated/modules.h`)
- `<makefile target="ap|!nps">` however adds it for `ap` target

<bountysource-plugin>
---
Want to back

[2016-03-30 10:25] kevindehecker opened #1582 "Speech error during GCS startup"
Sometimes, I get this:

RUN '/home/houjebek/paparazzi/sw/ground_segment/cockpit/gcs  -speech '
Failed to connect to Speech Dispatcher:
Error: Can't connect to unix socket /run/user/1000/speech-dispatcher/speechd.sock: No such file or directory. Autospawn: Autospawn failed. Speech Dispatcher refused to start with error code, stating this as a reason: Speech Dispatcher already running.

Does not see

[2016-03-30 12:45] EwoudSmeur commented on #1582
I have the same thing

[2016-03-30 13:02] flixr commented on #1582
Not sure if there is much we can do about it, all the GCS does is call `spd-say` as system command:
https://github.com/paparazzi/paparazzi/blob/master/sw/ground_segment/cockpit/speech.ml#L32

Seems that `spd-say` prints that error if a speech dispacher is not running yet, although it will also start it...

[2016-03-30 14:19] #1576 closed

[2016-03-30 16:41] flixr opened #1585 "support multiple IMUs running simultaneously"
Currently there is no proper way to support multiple IMU drivers running simultaneously.
This would be useful for cases where you e.g. want to compare the data from different IMUs, maybe switch to one with less vibrations, switch between external and internal mag, etc...

The IMU drivers already publish the sensor data via ABI using their own ID and the subscribers (e.g. AHRS) can select which one

[2016-03-30 23:26] OpenUAS commented on #1582
Some insight https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=734392

[2016-03-31 21:16] OpenUAS commented on #1582
a solution could be to look for speech dispatche process is running when starting the GCS with the -speech option, if running contine, else , shudder, a counter an as soon as ia flag is encounter start the first speech command only after the flag is true..

[2016-04-04 21:30] gautierhattenberger opened #1594 "Compiling with Link Time Optimization flag"
It seems that some boards are short in ROM space to fit the complete autopilot (like the Naze32). The recent Link Time Optimization can reduce the code size (and make it run faster) with the price of a slightly longer compilation time, especially during the link stage.

For instance, a rough test with the quad_flip32 airframe file gives a .bin of 123k (depending of the telemetry and settings enabl

[2016-04-05 19:37] pache1211 commented on #1295
Does the sirf mode working for the parrot flight recorder??

[2016-04-05 19:56] flixr commented on #1594
You can should already be able to do something like
`make AIRCRAFT=quad_flip32 ap.compile USER_CFLAGS=-flto`
Maybe we should extend that to USER_LDFLAGS?

Or we create a `ENABLE_LTO` flag or so, which we could then also set by default for some boards?
I wouldn't put something like that in the toolchain file... so probably in Makefile.stm and Makefile.lpc21?
We could also refactor the makefiles eve

[2016-04-05 21:40] podhrmic commented on #1594
Since it is board dependent, shouldn't it be in the board makefile?
How much slower is the compilation? If it is just a few seconds maybe we can have it enabled by default.

[2016-04-06 08:51] flixr commented on #1594
It's not really "board dependent" as you could use it for any target, but enabling a flag in the board makefile is what I meant with "set by default for some boards"...

[2016-04-06 14:07] pache1211 opened #1595 "Flight Recorder GPS in ARDrone 2 not working"
Hi I saw that Issue #1295 was closed I was wondering if the sirf mode is working now, I need to use the flight recorder in my project, so I really need to see if it works with paparazzi.
Thank you

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/32668389-flight-recorder-gps-in-ardrone-2-not-working?utm_campaign=plugin&utm_content=trac

[2016-04-06 20:37] justing88 opened #1596 "AR Drone 2 ftplib.error_perm"
Hello,

I am receiving the following error when trying to upload the rotorcraft_basic flight plan to the AR Drone 2. I have done this many times before and this error popped up out of the blue.

FTP UPLOAD ERROR: Maybe your ARDrone memory is full? <class 'ftplib.error_perm'>

I tried looking into what is causing it. It says AR Drone memory might be full, but when I telnet to the drone there is ava

[2016-04-07 14:56] flixr commented on #1595
I don't think it is (there have been no changes) or if it even actually ever worked for the Flight recorder.

But I'm closing this as a duplicate of #1295

[2016-04-07 14:56] #1595 closed

[2016-04-07 15:01] flixr commented on #1295
@OpenUAS was this actually ever working?
In any case if you guys don't plan on putting effort into this we should mark it as WONTFIX as nobody else from the core Paparazzi devs has this stuff anyway...
Although pull requests actually fixing it would of course be welcome from anyone.

[2016-04-08 09:00] pache1211 commented on #1295
I manage to get GPS fix. I haven't done a flight test, but to get the GPS fix I have to download sirf demo and configure the flight recorder to sirf mode, since it seems that the flight recorder is working in NMEA at 4800. So configure it to SIRF mode to 57600, and make the changes in the airframes/examples/ardrone2.xml and I got the GPS fix

[2016-04-14 19:00] hooperfly opened #1599 "Rotorcraft Sensor Calibration Refinements: ACCEL, MAG, MAG_CURRENT"
It's a tedious process to calibrate sensors for rotorcraft and it seems we might be able to refine the process a bit based on the migration to `modules`. Case in point, the updated `mag_current` calibration that uses a module vs. the `subsystem` approach is a nice refinement. After a bit of thought, it seems we might be able to do the same for the `accel` and `mag` calibrations.

Instead of having

[2016-04-14 19:29] flixr commented on #1599
Actually instead of running the calibration on a log, I would favour directly reading the messages from IVY.
I started a simple mag calibration script that does that in my calib_mag_live branch some time ago: https://github.com/flixr/paparazzi/commit/f67b7760e085e89ab7b0a53d84566350c90501c3

But I didn't continue since some ENAC students are apparently working on a nice calibration script/gui that

[2016-04-14 19:35] hooperfly commented on #1599
Ok, that works too. Who would have status on the ENAC project?

[2016-04-15 09:36] gautierhattenberger commented on #1599
The student project in itself is finished, but their code is not really usable right away, so we wanted to improve and polish it a bit before. The issue is we don't have much time for that. So at some point we may publish it as his and see who wants to work on it.
Remember they are first year students and it's their first programming project...

[2016-04-16 14:47] agressiva commented on #1599
way not a module that make all calculations and save the values on the flash ? or a way to save the values on the settings tab using the persistent options ?

The way paparazzi is calibrated is very tedious and complicated for a ordinary user.

[2016-04-17 10:39] flixr commented on #1599
Doing the optimization onboard would be a bit too heavy for most target MCUs right now... for a simple min/max calibration it would be doable.

[2016-04-18 15:16] kirkscheper commented on #1463
@flixr, I wrote a version of the bluegiga firmware to run on the ardrone using a bluetooth dongle (+cdc-acm driver and uploaded using the python ardrone tools) allowing for (secondary) datalink over bluetooth. Which folder should I put the files?

I currently manually build the program but I can imagine that I could automate the build and upload process into pprz.

[2016-04-18 20:23] flixr commented on #1596
@OpenUAS @fvantienen any ideas?

[2016-04-18 20:26] flixr commented on #1596
@justing88 can you change the code to print the exception?
[code]
and report the output? Maybe the exact error code can give some more hints...

[2016-04-18 20:30] flixr commented on #1463
@kirkscheper let's discuss this on gitter or an appropriate pull request...

[2016-04-19 00:26] hooperfly commented on #1599
@flixr I looked at your calib_mag_live branch. I like it and was thinking about using Qt or other, instead of GTK. Any thoughts? Thinking about making a web based calibration tool using the PPRZLINK and the Flask stuff I've been using with the FRC.

[2016-04-19 07:47] flixr commented on #1599
Unless there is significant benefit of using Qt for that case, I would suggest to stick with GTK.
We have no dependencies on Qt yet...

[2016-04-19 09:43] gautierhattenberger commented on #1599
Our students are learning to use Qt only and they are using it in their projects as well. It is the case for the calibration tool they made, the pprz_center, and so on. I know it is not really helping, but at least now we can give them Python project and not Java only with the new Enac courses...

[2016-04-19 10:08] flixr commented on #1475
Elaboration on periodic/event function usage:
Quite a few subsystems have periodic and event functions that are called from main and have/need some sort of #ifdef protection: imu, ins, gps...
But not all implementations actually need these periodic and event functions.
Converting those to modules let's you easily add those only for the cases where needed and cleans up main.